// predefine color as per style guide

// Primary colors
$primary-color-1: #fff;  // White
$primary-color-2: #333333;  // Gray
$primary-color-3: #25aaa5;  // Teal
$black: #000;

// Secondary colors
$secondary-color-1: #f4f3ef;  // Sand
$secondary-color-2: #257e8a;  // Dark Teal
$secondary-color-3: #aea592;  // Slate
$secondary-color-4: #cccccc;  // light grey
$secondary-color-5: transparent;  // transparent
$secondary-color-6: #39aaa6;  // Light Teal
$secondary-color-7: #028883;  // Dark Teal

$secondary-color-8: #999999;  // medium gray

//Section Backgrounds
$section-background-1: #f1f2f2;
$section-background-2: #dedede;

// font variables
$FuturaStd-Medium : 'FuturaStd-Medium', verdana, arial, sans-serif;
$FuturaNo2D-Reg : 'futurano2dregular', verdana, arial, sans-serif;
$FuturaNo2D-Med : 'FuturaNo2D-Med', verdana, arial, sans-serif;
$MyriadPro-Bold : 'MyriadPro-Bold', verdana, arial, sans-serif;
$MyriadPro-BoldCond : 'MyriadPro-BoldCond', verdana, arial, sans-serif;
$MyriadPro-BoldCondIt : 'MyriadPro-BoldCondIt', verdana, arial, sans-serif;
$MyriadPro-BoldIt : 'MyriadPro-BoldIt', verdana, arial, sans-serif;
$MyriadPro-Cond : 'MyriadPro-Cond', verdana, arial, sans-serif;
$MyriadPro-CondIt : 'MyriadPro-CondIt', verdana, arial, sans-serif;
$MyriadPro-Italic : 'MyriadPro-Italic', verdana, arial, sans-serif;
$MyriadPro-Regular : 'MyriadPro-Regular', verdana, arial, sans-serif;
$MyriadPro-Semibold : 'MyriadPro-Semibold', verdana, arial, sans-serif;
$MyriadPro-SemiboldIt : 'MyriadPro-SemiboldIt', verdana, arial, sans-serif;
