// 404 - Starts
section.four-zero-four
  .container
    .row
      .col-xs-12
        h2 Sorry, we can't seem to find that on the menu...
        p 
          |We looked everywhere but that page is gone, or maybe it never existed. It might have been removed or renamed. Try going back to 
          a(href='http://www.golden-circle.com/thetable/') www.golden-circle.com/thetable 
          |and navigating from there. Or check the 
          a(href='http://www.golden-circle.com/thetable/') Restaurant &amp; bars 
          |directory directly.
        p Sorry for the inconvenience


// 404 - Ends