// Module - Destination - Starts
section.destination-overlay
  .close
    span
      a(href="#" title="close" class="icon-android-close")
  .destination-wrapper
    .container-fluid
      .row
        .col-xs-12.col-sm-4
          h2.accordion-header(data-anchor='MAINLAND CHINA')
            a(href='#') MAINLAND CHINA
          ul.list-unstyled(data-ref='MAINLAND CHINA')
            li
              .row
                .col-xs-12.col-sm-6
                  ul.list-unstyled
                    li
                      a(href='#' title='') Baotou
                    li
                      a(href='#' title='') Beihai
                    li
                      a(href='#' title='') Beijing
                    li
                      a(href='#' title='') Changchun
                    li
                      a(href='#' title='') Changzhou
                    li
                      a(href='#' title='') Chengdu
                    li
                      a(href='#' title='') Dalian
                    li
                      a(href='#' title='') Fuzhou
                    li
                      a(href='#' title='') Guangzhou
                    li
                      a(href='#' title='') Guilin
                    li
                      a(href='#' title='') Haikou
                    li
                      a(href='#' title='') Hainan
                    li
                      a(href='#' title='') Hangzhou
                    li
                      a(href='#' title='') Baotou
                    li
                      a(href='#' title='') Beihai
                    li
                      a(href='#' title='') Beijing
                    li
                      a(href='#' title='') Changchun
                    li
                      a(href='#' title='') Changzhou
                    li
                      a(href='#' title='') Chengdu
                    li
                      a(href='#' title='') Dalian
                    li
                      a(href='#' title='') Fuzhou
                    li
                      a(href='#' title='') Guangzhou
                    li
                      a(href='#' title='') Guilin
                    li
                      a(href='#' title='') Haikou
                    li
                      a(href='#' title='') Hainan
                .col-xs-12.col-sm-6
                  ul.list-unstyled
                    li
                      a(href='#' title='') Harbin
                    li
                      a(href='#' title='') Hefei
                    li
                      a(href='#' title='') Huhhot
                    li
                      a(href='#' title='') Jinan
                    li
                      a(href='#' title='') Kunming
                    li
                      a(href='#' title='') Lhasa
                    li
                      a(href='#' title='') Manzhouli
                    li
                      a(href='#' title='') Nanchang
                    li
                      a(href='#' title='') Nanjing
                    li
                      a(href='#' title='') Ningbo
                    li
                      a(href='#' title='') Qingdao
                    li
                      a(href='#' title='') Qinhuangdao
                    li
                      a(href='#' title='') Harbin
                    li
                      a(href='#' title='') Hefei
                    li
                      a(href='#' title='') Huhhot
                    li
                      a(href='#' title='') Jinan
                    li
                      a(href='#' title='') Kunming
                    li
                      a(href='#' title='') Lhasa
                    li
                      a(href='#' title='') Manzhouli
                    li
                      a(href='#' title='') Nanchang
                    li
                      a(href='#' title='') Nanjing
                    li
                      a(href='#' title='') Ningbo
                    li
                      a(href='#' title='') Qingdao
                    li
                      a(href='#' title='') Qinhuangdao
        .col-xs-12.col-sm-8
          .row
            .col-xs-12.col-sm-3
              h2.accordion-header(data-anchor='AUSTRALIA') AUSTRALIA
              ul.list-unstyled(data-ref='AUSTRALIA')
                li
                  a(href='#' title='') Brisbane
                li
                  a(href='#' title='') Sydney
                li
                  a(href='#' title='') Cairns
              h2.accordion-header(data-anchor='CANADA') CANADA
              ul.list-unstyled(data-ref='CANADA')
                li
                  a(href='#' title='') Toronoto
                li
                  a(href='#' title='') Vancouver
              h2.accordion-header(data-anchor='FIJI') FIJI
              ul.list-unstyled(data-ref='FIJI')
                li
                  a(href='#' title='') Fiji
              h2.accordion-header(data-anchor='FRANCE') FRANCE
              ul.list-unstyled(data-ref='FRANCE')
                li
                  a(href='#' title='') Paris
              h2.accordion-header(data-anchor='HONG KONG') HONG KONG
              ul.list-unstyled(data-ref='HONG KONG')
                li
                  a(href='#' title='') Hong Kong
              h2.accordion-header(data-anchor='INDIA') INDIA
              ul.list-unstyled(data-ref='INDIA')
                li
                  a(href='#' title='') Bengaluru
                li
                  a(href='#' title='') New Delhi
            .col-xs-12.col-sm-3
              h2.accordion-header(data-anchor='INDONESIA') INDONESIA
              ul.list-unstyled(data-ref='INDONESIA')
                li
                  a(href='#' title='') Jakarta
                li
                  a(href='#' title='') Surabaya
              h2.accordion-header(data-anchor='JAPAN') JAPAN
              ul.list-unstyled(data-ref='JAPAN')
                li
                  a(href='#' title='') Tokyo
              h2.accordion-header(data-anchor='MALAYSIA') MALAYSIA
              ul.list-unstyled(data-ref='MALAYSIA')
                li
                  a(href='#' title='') Johor
                li
                  a(href='#' title='') Putrajaya
                li
                  a(href='#' title='') Kota Kinabalu
                li
                  a(href='#' title='') Kuala Lumpur
                li
                  a(href='#' title='') Penang
              h2.accordion-header(data-anchor='MALDIVES') MALDIVES
              ul.list-unstyled(data-ref='MALDIVES')
                li
                  a(href='#' title='') Maldives
              h2.accordion-header(data-anchor='MAURITIUS') MAURITIUS
              ul.list-unstyled(data-ref='MAURITIUS')
                li
                  a(href='#' title='') Mauritius
              h2.accordion-header(data-anchor='MONGOLIA') MONGOLIA
              ul.list-unstyled(data-ref='MONGOLIA')
                li
                  a(href='#' title='') Ulaanbaatar
            .col-xs-12.col-sm-3
              h2.accordion-header(data-anchor='MYANMAR') MYANMAR
              ul.list-unstyled(data-ref='MYANMAR')
                li
                  a(href='#' title='') Yangon
              h2.accordion-header(data-anchor='PHILIPINNES') PHILIPINNES
              ul.list-unstyled(data-ref='PHILIPINNES')
                li
                  a(href='#' title='') Boracay
                li
                  a(href='#' title='') Cebu
                li
                  a(href='#' title='') Manila
              h2.accordion-header(data-anchor='QATAR') QATAR
              ul.list-unstyled(data-ref='QATAR')
                li
                  a(href='#' title='') Doha
              h2.accordion-header(data-anchor='SINGAPORE') SINGAPORE
              ul.list-unstyled(data-ref='SINGAPORE')
                li
                  a(href='#' title='') Singapore
              h2.accordion-header(data-anchor='SRI LANKA') SRI LANKA
              ul.list-unstyled(data-ref='SRI LANKA')
                li
                  a(href='#' title='') Colombo
                li
                  a(href='#' title='') Sri Lanka
              h2.accordion-header(data-anchor='SULTANATE OF OMAN') SULTANATE OF OMAN
              ul.list-unstyled(data-ref='SULTANATE OF OMAN')
                li
                  a(href='#' title='') Oman
            .col-xs-12.col-sm-3
              h2.accordion-header(data-anchor='TAIWAN') TAIWAN
              ul.list-unstyled(data-ref='TAIWAN')
                li
                  a(href='#' title='') Tainan
                li
                  a(href='#' title='') Taipei
              h2.accordion-header(data-anchor='THAILAND') THAILAND
              ul.list-unstyled(data-ref='THAILAND')
                li
                  a(href='#' title='') Bangkok
                li
                  a(href='#' title='') Chiang Mai
              h2.accordion-header(data-anchor='TURKEY') TURKEY
              ul.list-unstyled(data-ref='TURKEY')
                li
                  a(href='#' title='') Istanbul
              h2.accordion-header(data-anchor='UNITED ARAB EMIRATES') UNITED ARAB EMIRATES
              ul.list-unstyled(data-ref='UNITED ARAB EMIRATES')
                li
                  a(href='#' title='') Abu Dhabi
                li
                  a(href='#' title='') Dubai
              h2.accordion-header(data-anchor='UNITED KINGDOM') UNITED KINGDOM
              ul.list-unstyled(data-ref='UNITED KINGDOM')
                li
                  a(href='#' title='') London
          .row
            .col-xs-12.col-sm-3.col-sm-offset-9
              a.reset-destination ALL DESTINATIONS

// Module - Destination - Ends
