// Module - Experiences List - Starts

section.experiences-list
  .section-row
    .container-fluid.no-gutter
      include ../includes/choose-destination
      include ../modules/experience-landing-filter
      .experience-panel
        .no-result-message Sorry, there are no results matching your search.
        .row
          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img.jpg', alt='Tea and Mixology Workshop')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Tea Mixology Workshop
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore      

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter.col-lg-push-4
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-2.jpg', alt='Member Exclusive Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter.col-lg-pull-8
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Member Exclusive Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points Redeem for 2,000 GC points
                      h5 Waterside Terrace
                      h6 Island Shangri-La, Hong Kong <br/>Hong Kong
                      p.member-exclusive member exclusive
                      a(class='button-primary inline-block', href='#') Explore     

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-3.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore      

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter.col-lg-push-4
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-4.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter.col-lg-pull-8
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore     

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-5.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore      

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter.col-lg-push-4
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-6.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter.col-lg-pull-8
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore     

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-3.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore      

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter.col-lg-push-4
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-4.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter.col-lg-pull-8
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore     

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-5.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore      

          .col-xs-12.col-sm-6.col-lg-12
            .item
              .row
                .col-xs-12.col-sm-12.col-lg-8.no-gutter.col-lg-push-4
                  .image-block.eqHeight
                      img(src='content/img/content/experience-img-6.jpg', alt='Experience title')
                .col-xs-12.col-sm-12.col-lg-4.no-gutter.col-lg-pull-8
                  .caption-block.eqHeight.mid-aligner
                    .aligned-content
                      .icon
                        span.icon-experiences
                      h4 Jan 14 - dec 14, 2016
                      h3 Experience title
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                      p.gc-points US$200 or 2,000 GC points
                      h5 Waterside Terrace
                      h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                      a(class='button-secondary inline-block', href='#') Explore     
      include ../modules/pagination



  // Module - Experiences List - Ends