// Module - Experiences (Content Sider POD) - Starts
section.experiences
  .section-row
    .container-fluid.no-gutter
      include ../includes/choose-destination-experiences
      include ../includes/slider-content-pod
      .view-all-btn
        a.button-primary(href='#')
          | view all (
          span 36
          | )
// Module - Experiences (Content Sider POD) - Ends