// Module - Footer - Starts
footer
  .section-row
    .container
      .row
          .col-xs-12.col-md-9
            ul.sitelinks.list-unstyled.row
              li.col-xs-12.col-md-3
                h4.accordion-header The Table
                ul.list-unstyled
                  li
                    a(href='javascript:void(0);') restaurants &amp; bars
                  li
                    a(href='javascript:void(0);') experiences
                  li
                    a(href='javascript:void(0);') special offers
                  li
                    a(href='javascript:void(0);') member benefits
                  li
                    a(href='javascript:void(0);') Social gallery
                  li
                    a(href='javascript:void(0);') terms &amp; conditions
              li.col-xs-12.col-md-3
                h4.accordion-header golden circle
                ul.list-unstyled
                  li
                    a(href='javascript:void(0);') about
                  li
                    a(href='javascript:void(0);') my account
                  li
                    a(href='javascript:void(0);') member benefits
                  li
                    a(href='javascript:void(0);') gc event rewards
                  li
                    a(href='javascript:void(0);') inner circle
                  li
                    a(href='javascript:void(0);') join golden circle
              li.col-xs-12.col-md-3
                h4.accordion-header about shangri-la
                ul.list-unstyled
                  li
                    a(href='javascript:void(0);') overview
                  li
                    a(href='javascript:void(0);') our brands
                  li
                    a(href='javascript:void(0);') press room
                  li
                    a(href='javascript:void(0);') investors
                  li
                    a(href='javascript:void(0);') careers              
              li.col-xs-12.col-md-3
                h4.accordion-header legal
                ul.list-unstyled
                  li
                    a(href='javascript:void(0);') sitemap
                  li
                    a(href='javascript:void(0);') privacy policy
                  li
                    a(href='javascript:void(0);') website terms of use
                  li
                    a(href='javascript:void(0);') safety &amp; security
                  li
                    a(href='javascript:void(0);') supplier code of conduct


          .col-xs-12.col-md-3
            .table-from-gc
              h4.panel-title The Table 
                span From Golden Circle
              p Experiences worth savouring            
            .connect-withus
              h4.panel-title Connect with us
              p(class="hashtag") #fromthetable
              .social-icons-wrapper(data-visible=5)
                include ../includes/social-icons

              p.download-app
                a(href='javascript:void(0);') Download the Shangri-La App
    .logo-container
      .row
        .col-xs-12
          ul.list-unstyled.logo-list.clearfix
            li
              a(href="#", target="_blank")
                img(src='content/img/content/golden-circle.png', alt='Golden Circle')
            li
              a(href="#", target="_blank")
                img(src='content/img/content/shangri-la-hotels-and-resorts.png', alt='SHANGRI-LA Hotels and Resorts')
            li
              a(href="#", target="_blank")
                img(src='content/img/content/kerry-hotels-final.png', alt='Kerry Hotels')
            li
              a(href="#", target="_blank")
                img(src='content/img/content/hotel-jen-final.png', alt='Hotel Jain')
            li
              a(href="#", target="_blank")
                img(src='content/img/content/tariders-logo.png', alt='Tariders')
    .right-reserve
      .container
        .row
            .col-xs-12
              p 2016 Shangri-La International Hotel Management Ltd. All Rights Reserved. ICP license: 09038664
.common-popup-block  
  a.close-btn.icon-android-close(href="#")  

.common-overlay
// Module - Footer - Ends