// Module - Golden Circle Recommended - Starts
.restaurant-bar-container
  .golden-circle-recommended
    .image-container.lazy-load-wrapper
      a(href="#")
        img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/petrus-2.jpg", alt="")

    .content-container
      span.golden-circle-badge.icon-golden-circle-recommended
        span Member Favourite
      .golden-circle-detail
        .information
          h2 
            a(href="#") Petrus
          p.restaurant-bar-address Island Shangri-La, Hong Kong
          p.restaurant-bar-address Hong Kong
          p.cuisine Grill and Steakhouse 
            span.divider |
            span.price $$
          p.offer Offers (2)
            span.divider |
            span.price Experiences (1)
        .call-to-action
          .golden-circle-contact
            p.contact-info +
              span.contact-number 852 12345678
            .button-container
              a.call-us-btn.button-secondary(href="#") Call
              a.book-now-btn.button-secondary(href="#") View Details