// Header Custom for 404 and 500 - Starts
section.header-custom
  .container
    .row
      .col-xs-12
        img(src="content/img/content/logo-the-table.jpg", alt="The Table - From Golden Circle")


// Header Custom for 404 and 500 - Ends