// Module - Join Us at Table (Member Benefits) - Starts
section.joinus-table
  .section-row
    .container
      .row
        .col-xs-12.col-sm-6.col-lg-6.no-gutter
          .img-container.lazy-load-wrapper
            img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/join-us-at-the-table.jpg', alt='Join Us at the Table')
        .col-xs-12.col-sm-6.col-lg-6.no-gutter
          .joinus-content.boxshadow-btmright.mid-aligner
            .aligned-content               
              h1 Member benefits
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at diam eu massa scelerisque dapibus vel vitae felis.
              ul.joinus-list.hidden-xs.hidden-sm
                li Rewards &amp; Benefits
                li Exclusive Experiences
                li Local Events                
              a(href='javascript:void(0);').button-primary FIND OUT MORE
// Module - Join Us at Table (Member Benefits) - Ends