// Module - Hero Carousel - Starts
section.hero-banner 
  .container-fluid.no-gutter
    .owl-carousel.main-carousel
      .item
        .item-container
          img(src='content/img/content/golden-circle1.jpg', alt='The Table from Golden Circle')
        .caption-block-wrapper
          .caption-block.left-aligned
            h2 introducing
            h3 The Table
              span from Golden Circle
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molli anim it laborum.
            a(class='button-secondary inline-block', href='#', tabindex="-1") See more
          .img-description.left-text.hidden-xs Experiences worth savouring 
          .img-description.right-text.hidden-xs Signature dish at Shang Palace, Kowloon Shangri-La

      .item
        .item-container
          img(src='content/img/content/golden-circle2.jpg', alt='')
        .caption-block-wrapper
          .caption-block.center-aligned
            h2 introducing
            h3 The Table 2
              span from Golden Circle
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molli anim it laborum.
            a(class='button-secondary inline-block', href='#', tabindex="-1") See more
          .img-description.left-text.hidden-xs Experiences worth savouring 
          .img-description.right-text.hidden-xs Signature dish at Shang Palace, Kowloon Shangri-La

      .item
        .item-container
          img(src='content/img/content/golden-circle2.jpg', alt='The Table from Golden Circle 3')
        .caption-block-wrapper
          .caption-block.right-aligned
            h2 introducing
            h3 The Table 3
              span from Golden Circle
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molli anim it laborum.
            a(class='button-secondary inline-block video-link', href='javascript:void(0)', tabindex="-1", data-account="4554542031001", data-video-id="4898708312001") Watch Video
          .img-description.left-text.hidden-xs Experiences worth savouring 
          .img-description.right-text.hidden-xs Signature dish at Shang Palace, Kowloon Shangri-La
// Module - Hero Carousel - Ends