// Member Benefits Generic Banner - Starts
section.member-benefits-generic-banner
  .container
    .row
      .col-xs-12.col-sm-6.no-gutter
        .img-container.equal-height.lazy-load-wrapper
          img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/delicious-partners.jpg', alt='Delicious Partners')
      .col-xs-12.col-sm-6.no-gutter
        .generic-content.equal-height
          .aligned-content               
            h2 Delicious Partners
            p As a Golden Circle member, you’ll get access to a range of exclusive benefits and experiences from our partners.
            .button-container
              a(href='javascript:void(0);', title="FIND OUT MORE").button-primary FIND OUT MORE
    .row
      .col-xs-12.col-sm-6.no-gutter
        .img-container.equal-height.lazy-load-wrapper
          img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/buy-gc-award-points.jpg', alt='Delicious Partners')
      .col-xs-12.col-sm-6.no-gutter
        .generic-content.equal-height
          .aligned-content               
            h2 Buy GC Award Points
            p Whether you wish to give a special gift to a Golden Circle member or just find yourself a few points shy of your desired award, you can gift points to others or top up your points balance.
            .button-container
              a(href='javascript:void(0);', title="FIND OUT MORE").button-primary FIND OUT MORE

// Member Benefits Generic Banner - Ends