// Member Benefits Golden Circle Member Tier - Starts
section.member-benefits-gc-member-tier
  .container
    h2 Benefits
    .row
      .col-sm-4
        .benefit-tier
          .image-container
            .lazy-load-wrapper
              img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/gold-membership.png', alt='Gold Members') 
          h3 Gold Members
          p When you enrol, you’ll immediately enjoy Gold status benefits to make your stay truly memorable.
          .ratio
            .row
              .spent.col-xs-5.no-gutter
                p 1
                  span USD spent
              .equal.col-xs-2
                p =
              .earned.col-xs-5.no-gutter 
                p 1
                  span point earned
      .col-sm-4
        .benefit-tier
          .image-container
            .lazy-load-wrapper
              img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/jade-membership.png', alt='Jade Members')
          h3 Jade Members
          p From complimentary breakfasts to rounds of free drinks, as a Jade member, you’ll experience a higher level of recognition. Plus, you’ll earn points faster.
          .ratio
            .row
              .spent.col-xs-5.no-gutter
                p 1
                  span USD spent
              .equal.col-xs-2
                p =
              .earned.col-xs-5.no-gutter
                p 1.25
                  span point earned

      .col-sm-4
        .benefit-tier
          .image-container
            .lazy-load-wrapper
              img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/diamond-membership.png', alt='Diamond Members')
          h3 Diamond Members
          p Room upgrades, early check in, concierge service and much, much more are available to our Diamond members.
          .ratio
            .row
              .spent.col-xs-5.no-gutter
                p 1
                  span USD spent
              .equal.col-xs-2
                p =
              .earned.col-xs-5.no-gutter
                p 1.5
                  span point earned


// Member Member Benefits Golden Circle Member Tier - Ends