// Member Benefits Intro - Starts
section.member-benefits-intro
  .section-row
    .container
      .member-benefit-intro-links
        ul
          li
            a.active The Table
          li
            a.about-gc-link About Golden Circle
      .section-heading
        h1 The Table from golden circle
      .row
        .col-md-8.col-md-offset-2
          .intro-container
            h2 Experiences worth savouring.
            p What goes into food and drink often occurs behind closed doors. But what comes out of it – surprise, joy, and memories – inevitably happen at The Table. It is here where simple moments are elevated in to stories for you to revisit, time and time again. And it doesn’t matter where you are, minutes from home or miles from anywhere, you never truly know what to expect. Much more than a promise of food and drink, a call to The Table is a promise of discovery.
            p Whether you’re a discerning traveler seeking local tastes or a food and drink enthusiast looking to uncover new &amp; unexpected flavours, The Table from Golden Circle bridges the gap between you and the culinary moment you aspire to experience. Through unique rewards, curated food &amp; drink experiences, and rich culinary exchanges – The Table from Golden Circle redefines what it means to dream of and plan for an epicurean moment.
            p Start your complimentary membership today!
          .video-container
            img.img-responsive(src='content/img/content/member-benefits-video.jpg', alt='Timeless Allure of the Orient')
            a(href='javascript:void(0)', data-account="4554542031001", data-video-id="4898708312001", class='video-link play-btn icon-play')

// Member Benefits Intro - Ends