// Member Benefits Point - Starts
section.member-benefits-point
  .container
    .row
      .col-sm-6
        .point-container
          h2 Earn Points
          ul
            li Dine
              ul
                li Earn 1 GC Award Point for each qualifying US dollar spent when dining at over 500 restaurants &amp; bars worldwide.
            li Stay
              ul
                li Earn 1 GC Award Point for each qualifying US dollar spent when dining at over 500 restaurants &amp; bars worldwide.
            li Experience 
              ul
                li Earn 1 GC Award Point on qualifying spend at CHI, The Spa.
            li Meet
              ul
                li For every USD 5 you spend, you'll earn 1 GC Award Point with a maximum cap of USD 200,000 spend per event.
            li Co-brand Credit Card
              ul
                li Earn GC Award Points on everyday spending outside Shangri-La with qualifying transactions on our Co-brand Credit Card, plus earn extra points on all spending at Shangri-La.
            li Airline Miles for Hotel Stays
              ul
                li Choose to earn GC Award Points or airline miles when staying with us on qualifying rates at any of our four distinct hotel brands. 
          .button-container
            a.button-primary(href="javascript:void(0);", title="Get the details here") FIND OUT MORE

      .col-sm-6
        .point-container
          h2 Redeem Points
          ul
            li Dine
              ul
                li Redeem your points instantly at our restaurants &amp; bars with 10 GC Award Points covering every USD 1 of your dining bill. You may also choose to redeem your points for dining vouchers online.
            li Stay
              ul
                li Redeem free room nights at any Shangri-La hotel, resort, Kerry hotel, Traders hotel or Hotel Jen worldwide.
            li Experience 
              ul
                li Redeem points for unique experiences and lifestyle awards including wine and the signature Shangri-La essence.
            li Meet
              ul
                li Use GC Award points to offset up to 5% of your event spending (up to 50,000 points / USD 5,000).
            li Convert Points to Miles
              ul
                li Convert your GC Award Points to airline miles with our participating airline partners.
            li Donate Points
              ul
                li Use your GC Award Points to make a difference - donate your points to charities or our corporate social responsibility projects!
          .button-container
            a.button-primary(href="javascript:void(0);", title="Find out how much your points can do") FIND OUT MORE


// Member Benefits Point - Ends