// Member Benefits Benefit - Starts
section.member-benefits-benefit
  .container
    h2 Benefits
    .row
      .col-sm-4
        .benefit-item
            //.icon.icon-indulge-instantly
            .benefit-image.indulge-instantly
                img(src="content/img/icon/ico-indulge.png", alt="")
            h3 INDULGE INSTANTLY 
            p Earn GC Award Points on qualifying purchases at participating restaurants and bars. Then redeem points for instant rewards and exclusive dining and lifestyle experiences.
      .col-sm-4
        .benefit-item
            //.icon.icon-awards
            .benefit-image.elite
                img(src="content/img/icon/ico-elite.png", alt="")
            h3 ELITE REWARDS 
            p The more you engage with the programme, the more you earn. Dine, meet and stay with us to earn Jade or Diamond status. With bonus earnings and more value on dining redemptions, you'll unlock more delicious rewards and experiences.
      .col-sm-4
        .benefit-item
            //.icon.icon-local-flavours
            .benefit-image.elite
                img(src="content/img/icon/ico-local-fla.png", alt="")
            h3 LOCAL FLAVOURS 
            p Savour exclusively curated local offers and experiences from our restaurants &amp; bars worldwide, and make dining out that much more rewarding.


// Member Benefits Benefit - Ends
