// Member Benefits Benefit Type - Starts
section.member-benefits-expanded-type
  .container
    .benefit-title
      .row
        .col-sm-2.col-sm-offset-6
          h6.gold Gold
        .col-sm-2
          h6.jade Jade
        .col-sm-2
          h6.diamond Diamond
    .benefit-table
      .benefit-list.accordion-container
        .section-heading
          h1.accordion-header.icon-more Stay
        .badge-container.panel-container
          .benefit-table-row
            .col-xs-6
              p Pre-registration for easy check-in
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond
          .benefit-table-row
            .col-xs-6
              p Priority check-in and check-out at an exclusively designated area
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Priority check-in and check-out at Horizon / Traders Club Lounge or in-room check-in, where available
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Partner stays free in the same room and enjoys applicable complimentary breakfast benefit 
                sup (1) 
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Complimentary daily buffet breakfast served at Café Restaurant or designated restaurant
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span

          .benefit-table-row
            .col-xs-6
              p Complimentary daily buffet breakfast served at Café Restaurant, Horizon / Traders Club Lounge, where available
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Upgrade to the next best room category, if the reserved room type is not available at check-in
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Complimentary access to Horizon / Traders Club Lounge, where available
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Partner enjoys complimentary access to Horizon / Traders Club Lounge, where available 
                sup (1)
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Priority waitlist for room reservations
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Guaranteed room availability for reservations made 72 hours prior to arrival 
                sup (2)
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span

          .benefit-table-row
            .col-xs-6
              p Guaranteed room availability for reservations made 48 hours prior to arrival 
                sup (2)
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Guaranteed bed type at time of reservation
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span

          .benefit-table-row
            .col-xs-6
              p Early check-in / late check-out - 11am / 4pm 
                sup (3)
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span

          .benefit-table-row
            .col-xs-6
              p Early check-in / late check-out - 8am / 6pm 
                sup (3)
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Complimentary pressing for one suit upon arrival
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Complimentary use of selected resort facilities 
                sup (4)
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Cash advance of up to USD250 per stay on major credit cards (no hotel commission or handling fee) 
                sup (5)
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span

          .benefit-table-row
            .col-xs-6
              p Cash advance of up to USD300 per stay on major credit cards (no hotel commission or handling fee) 
                sup (5)
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Long distance calls and faxes at cost price
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Free Local Calls
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Choice of Welcome Amenities 
                sup (6)
            .col-xs-2
              span
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .expanded-benefit-info
            p 
              sup (1) 
              | Complimentary programme benefits for the Golden Circle member's partner are for a maximum of one person who stays in the same room only.
            p 
              sup (2) 
              | Default to Deluxe Room public rate. Reservation must be guaranteed by credit card at the time of booking. Black-out dates may apply. Not applicable for Room Award redemption and at hotels with villas only.
            p 
              sup (3) 
              | Subject to availability. This is not available at China World Summit Wing, Beijing; Shangri-La's Villingili Resort and Spa, Maldives; Shangri-La Hotel, Paris; Shangri-La Hotel, Tokyo; Shangri-La Hotel, Toronto; Shangri-La Hotel, Vancouver; and Shangri-La Hotel, at The Shard, London.
            p 
              sup (4) 
              | For non-motorised watersports, tennis court and children's club, please check with individual resorts for full details.
            p 
              sup (5)
              | Cash advance will be paid in the equivalent local currency.
            p 
              sup (6) 
              a(href="javascript:void(0);", title="") View 
              | complete list for terms &amp; conditions for The Table from Golden Circle 
               
            p 
              a(href="javascript:void(0);", title="") Room reservation 2016 black-out dates 

    .benefit-table
      .benefit-list.accordion-container
        .section-heading
          h1.accordion-header.icon-more Experience
        .badge-container.panel-container
          .benefit-table-row
            .col-xs-6
              p Concierge services for non-staying guests
            .col-xs-2
              span
            .col-xs-2
              span
            .col-xs-2
              span.diamond
          .benefit-table-row
            .col-xs-6
              p Redeem GC Award Points for lifestyle awards
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

    .benefit-table
      .benefit-list.accordion-container
        .section-heading
          h1.accordion-header.icon-more Meet
        .badge-container.panel-container
          .benefit-table-row
            .col-xs-6
              p Earn 1 GC Award Point for every USD 5 qualifying spend
                sup (7)
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond
          .benefit-table-row
            .col-xs-6
              p Double GC Award Points on the second event when hosted within the same calendar year
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Settle up to 5% of any event spend by redeeming GC Award Points
                sup (8)
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Split and share the GC Award Points earned as you wish with up to three other event partners and colleagues
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .expanded-benefit-info
            p 
              sup 7) 
              | Points can be earned for a maximum value of USD 200,000 spend per event. Which means you can earn up to 40,000 GC Award Points on each event.
            p 
              sup (8) 
              | Event planners can settle up to 5% of any event spend by redeeming their Golden Circle Award Points (up to 50,000 points / USD 5,000)
            p 
              a(href="javascript:void(0);", title="") View 
              | frequently asked questions for Golden Circle Event Planner Rewards.
            
    .expanded-benefit-info
      p 
        a(href="javascript:void(0);", title="") View 
        | complete list for terms &amp; conditions for Golden Circle 



// Member Benefits Benefit Type - Ends