// Member Benefits Expanded Benefit - Starts
section.member-benefits-expanded-benefit
  .container
    .benefit-title
      .row
        .col-sm-2.col-sm-offset-6
          h6.gold Gold
        .col-sm-2
          h6.jade Jade
        .col-sm-2
          h6.diamond Diamond
    .benefit-table
      .benefit-list
        .section-heading
          h1 Dine
        .badge-container
          .benefit-table-row
            .col-xs-6
              p GC Award Points earned per eligible US Dollar spent
            .col-xs-2
              span.gold.integer 1
            .col-xs-2
              span.jade.integer 1.25
            .col-xs-2
              span.diamond.integer 1.50
          .benefit-table-row
            .col-xs-6
              p US Dollar value per 10 GC Award Points redeemed on dining
            .col-xs-2
              span.gold.integer $1
            .col-xs-2
              span.jade.integer $1.25
            .col-xs-2
              span.diamond.integer $1.50

          .benefit-table-row
            .col-xs-6
              p Invitations to exclusive local events
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Redeem GC Award Points for money can’t buy food and drink experiences
            .col-xs-2
              span.gold
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Access to members’ only local dining offers &amp; experiences
                sup (1)
            .col-xs-2
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

          .benefit-table-row
            .col-xs-6
              p Complimentary signature tastes
                sup (2)
            .col-xs-2
            .col-xs-2
              span.jade
            .col-xs-2
              span.diamond

    .expanded-benefit-info
      p 
        sup 1) 
        | Local dining offers &amp; experiences are exclusively curated by our hotels worldwide to give you access to unique local flavours and hence, may vary across the portfolio of our restaurants &amp; bars.
      p 
        sup (2) 
        | Diamond members enjoy a complimentary signature taste when enjoying lunch or dinner at participating restaurants &amp; bars. The signature options are up to the discretion of each restaurant &amp; bar.
      p 
        a(href="javascript:void(0);", title="") View 
        | complete list of Terms &amp; Conditions for The Table from Golden Circle
      p 
        a(href="javascript:void(0);", title="") View 
        | non-participating restaurants &amp; black-out dates.


// Member Benefits Expanded Benefit - Ends