// Module - Login flyout starts
.member-login-flyout
  .member-login-container
    h2.hidden-md.hidden-lg Member Login
    ul
      li
        a(href="#") Member Profile
      li
        a(href="#") Log Out
      
// Module - Login flyout Ends