// Member Benefits About Golden Circle - Starts
section.member-benefits-about-golden-circle
  .container
    .section-heading
      h1 About Golden Circle
    .row
      .col-md-8.col-md-offset-2
        .intro-container
          p Loyalty matters. For us, that means rewarding you with exclusive member benefits, curated offers and service that you deserve.  Within the programme, you’ll earn GC Award Points every time you stay, dine or meet with us. And when you’re ready, redeem your points for more hotel, dining and lifestyle experiences across our four distinct brands, Shangri-La Hotels &amp; Resorts, Kerry Hotels, Traders Hotels, and Hotel Jen.
          p As you stay and dine with us, you’ll unlock more recognition and benefits including early check-in, room upgrades, complimentary breakfast, and bonus award points.
          .button-container
            a.button-primary(href="javascript:void(0);", title="Join Now") Join Now
            a.button-secondary(href="javascript:void(0);", title="View account") View account

// Member Benefits About Golden Circle - Ends