// Module - Mosaic - Starts
section.mood-mosaic
  .container
    .masonry-container
      .row
        .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-1

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-2

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-3
          //- .special-offer-container
          //-   .inner-container
          //-     .col-md-12
          //-       .content-container
          //-         p.offer-period Jan 06 - Jan 24, 2016
          //-           span.icon
          //-             span.icon-special-offers                                        
          //-         h3 The Ultimate Treat
          //-         p.descreption Complimentary dessert when you book
          //-         p.location At Angelini, Island Shangri-La, Hong Kong
          //-         p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
          //-         p.member-exclusive member exclusive
          //-         .button-container
          //-           a.find-out-more.button-secondary(href="#") Find out more
        
        .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-4
          //- .restaurant-bar-container
          //-   .image-container
          //-     a(href="#")
          //-       img(src="content/img/content/waterside-terrace.jpg", alt="Waterside Terrace")
          //-       span.icon
          //-         span.icon-restaurants-bars
          //-   .content-container
          //-     h2 
          //-       a(href="#") Waterside Terrace
          //-     p.restaurant-bar-address Island Shangri-La, Hong Kong
          //-     p.restaurant-bar-address Hong Kong
          //-     p.cuisine THAI
          //-       span.divider |
          //-       span.price $$
          //-     p.contact-info +
          //-       span.contact-number 852 12345678
          //-     .button-container
          //-       a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
          //-       a.book-now-btn.button-secondary(href="#") Book a Table      
        
        .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-5
          //- .experience-panel
          //-   .row
          //-     .col-xs-12
          //-       .item
          //-         .row
          //-           .col-xs-12.no-gutter
          //-             .image-block
          //-                 img(src='content/img/content/experience-img-2.jpg', alt='Tea and Mixology Workshop')
          //-           .col-xs-12.no-gutter
          //-             .caption-block.mid-aligner
          //-               .aligned-content
          //-                 .icon
          //-                   span.icon-experiences
          //-                 h4 Jan 14 - dec 14, 2016
          //-                 h3 Experience title
          //-                 p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
          //-                 p.gc-points Redeem for 2,000 GC points
          //-                 h5 Waterside Terrace
          //-                 h6 Island Shangri-La, Hong Kong <br/>Hong Kong
          //-                 a(class='button-secondary inline-block', href='#') Explore

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-6
          //- .standard-asset
          //-   .image-container
          //-     a(href="#")
          //-       img(src="content/img/content/standard-asset-2.jpg", alt="")
          //-   .content-container
          //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          //-     p.hashtag #FROMTHETABLE
          //-     .button-container
          //-       a.button-primary(href="#") Custom CTA

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-7

        //- Brightcove Video Supported in Merchandising Assets Block
        //- .col-xs-12.col-sm-6.col-md-4.masonry-item
          include merchandising-block-variation-8

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .restaurant-bar-container
            .image-container
              a(href="#")
                img(src="content/img/content/cafe-kool.jpg", alt="Café Kool")
                span.icon
                  span.icon-restaurants-bars
            .content-container
              h2 
                a(href="#") Café Kool
              p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
              p.restaurant-bar-address Hong Kong
              p.cuisine International
                span.divider |
                span.price $$
              p.contact-info +
                span.contact-number 852 12345678
              .button-container
                a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                a.book-now-btn.button-secondary(href="#") Book a Table   

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .special-offer-container
            .image-container
              a(href="#")
                img(src="content/img/content/lobster-bar-grill.jpg", alt="Lobster &amp; bar Grill")
                
            .inner-container
              .col-md-12
                .content-container
                  p.offer-period Jan 14 - Jan 28, 2016
                    span.icon
                      span.icon-special-offers                                        
                  h3
                    a(href="#") Peking Duck Special
                  p.descreption Two for One Peking Duck Special 
                  p.location In multiple locations
                  p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                  p.member-exclusive member exclusive
                  .button-container
                    a.find-out-more.button-secondary(href="#") Find out more

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .restaurant-bar-container
            .image-container
              a(href="#")
                img(src="content/img/content/angelini.jpg", alt="Angelini")
                span.icon
                  span.icon-restaurants-bars
            .content-container
              h2 
                a(href="#") Angelini
              p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
              p.restaurant-bar-address Hong Kong
              p.cuisine Italian
                span.divider |
                span.price $$
              p.contact-info +
                span.contact-number 852 12345678
              .button-container
                a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                a.book-now-btn.button-secondary(href="#") Book a Table   
                
        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .restaurant-bar-container
            .image-container
              a(href="#")
                img(src="content/img/content/cafe-malacca.jpg", alt="Cafe Malacca")
                span.icon
                  span.icon-restaurants-bars
            .content-container
              h2 
                a(href="#") Cafe Malacca
              p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
              p.restaurant-bar-address Hong Kong
              p.cuisine International
                span.divider |
                span.price $$
              p.contact-info +
                span.contact-number 852 12345678
              .button-container
                a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                a.book-now-btn.button-secondary(href="#") Book a Table   

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .standard-asset
            .image-container
              a(href="#")
                img(src="content/img/content/standard-asset-3.jpg", alt="")
            .content-container
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              p.hashtag #FROMTHETABLE
              .button-container
                a.button-primary(href="#") Custom CTA

        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .restaurant-bar-container
            .image-container
              a(href="#")
                img(src="content/img/content/lobster-bar-grill.jpg", alt="Lobster &amp; bar Grill")
                span.icon
                  span.icon-restaurants-bars
            .content-container
              h2 
                a(href="#") Lobster &amp; bar Grill
              p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
              p.restaurant-bar-address Hong Kong
              p.cuisine Italian
                span.divider |
                span.price $$
              p.contact-info +
                span.contact-number 852 12345678
              .button-container
                a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                a.book-now-btn.button-secondary(href="#") Book a Table      
        
        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .special-offer-container
            .inner-container
              .col-md-12
                .content-container
                  p.offer-period Jan 06 - Jan 24, 2016
                    span.icon
                      span.icon-special-offers                                        
                  h3 Family Experience
                  p.descreption Earn Extra Points For Family Weekend Lunch
                  p.location At Angelini, Island Shangri-La, Hong Kong
                  p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                  p.member-exclusive member exclusive
                  .button-container
                    a.find-out-more.button-secondary(href="#") Find out more  
        
        .col-xs-12.col-sm-6.col-md-4.masonry-item
          .experience-panel
            .row
              .col-xs-12
                .item
                  .row
                    .col-xs-12.no-gutter
                      .image-block
                          img(src='content/img/content/experience-img.jpg', alt='Tea and Mixology Workshop')
                    .col-xs-12.no-gutter
                      .caption-block.mid-aligner
                        .aligned-content
                          .icon
                            span.icon-experiences
                          h4 Jan 14 - dec 14, 2016
                          h3 Tea Mixology Workshop
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
                          p.gc-points US$200 or 2,000 GC points
                          h5 Waterside Terrace
                          h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
                          p.member-exclusive member exclusive
                          a(class='button-secondary inline-block', href='#') Explore

        

  .view-all-btn
    a.button-primary(href='#') view more

// Module - Mosaic - Ends