.merchandising-block
	.content-container
		.inner-content
			p.offer-period Jan 14 - Jan 28, 2017
			h3 Merch Asset Type 6 -Title LinesLorem Ipsum Dolor Sit 62 Chars
			p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumquenihil impedit quo 170 Chars
			p.member-exclusive member exclusive