.merchandising-block.full-width
	//- Image Container is optional
	.media-container.image
		a(href="#")
			img(src="content/img/content/standard-asset-4.jpg", alt="")
	.content-container
		.inner-content
			h3 65 Chars - Type - 2 amet, consectetuer adipiscing elit. Aenean.
			p 170 Chars m dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, na