.merchandising-block.full-width
	//- Image Container is optional
	.media-container.image
		a(href="#")
			img(src="content/img/content/standard-asset-4.jpg", alt="")
	.content-container
		.inner-content
			p.offer-period Jan 14 - Jan 28, 2017
			h3 65 Chars - Type - 7 amet, consectetuer adipiscing elit. Aenean.
			p 170 Chars m dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, na
			p.member-exclusive member exclusive
		.button-container
			a(href="#") Explore
				span.icon-angle-rgt