.merchandising-block.full-width
	//- Image Container is optional
	.content-container
		.inner-content
			h3 65 Chars - Type - 1 amet, consectetuer adipiscing elit. Aenean.
			p 170 Chars m dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, na