// Mood Filter - Starts
section.mood-filter
  .container
    .col-xs-12
      .filter-container
        a.sort-btn(href="javascript:void(0);") Sort
        .filter-mood
          ul
            li
              a.active(href="javascript:void(0);") All
            li
              .icon
                span.icon-restaurants-bars
              a(href="javascript:void(0);") Restaurants &amp; Bars
            li
              .icon
                span.icon-experiences
                a(href="javascript:void(0);") Experiences
            li
              .icon                
                span.icon-special-offers
                a(href="javascript:void(0);") Special offers

// Mood Filter - Ends