// Module - What are you in the mood for? - Starts
section.mood-for
  .section-row
    .container-fluid.no-gutter
      .section-heading
        h1 Set the Mood

      .mood-row       
        .col-xs-12.col-sm-2.mood-block
          .mood-for-option-container          
            a(href="#")
              span.image-container
                img(src="content/img/icon/ico-elegant.png", alt="")
              span Elegant
       
        .col-xs-12.col-sm-2.mood-block
          .mood-for-option-container          
            a(href="#")
              span.image-container
                img(src="content/img/icon/ico-intimate.png", alt="")
              span Intimate
        
        .col-xs-12.col-sm-2.mood-block
          .mood-for-option-container          
            a(href="#")
              span.image-container
                img(src="content/img/icon/ico-upbeat.png", alt="")
              span Upbeat
         
        .col-xs-12.col-sm-2.mood-block
          .mood-for-option-container          
            a(href="#")
              span.image-container
                img(src="content/img/icon/ico-chill.png", alt="")
              span Chill
        
        .col-xs-12.col-sm-2.mood-block
          .mood-for-option-container          
            a(href="#")
              span.image-container
                img(src="content/img/icon/ico-adventrous.png", alt="")
              span Adventurous
// Module - What are you in the mood for? - Ends
