// Module - Offer Detail - Starts
section.offer-detail
  .section-row
    .container
      .row
        .col-xs-12
          .special-offer-container
            .inner-container
              .col-md-4.col-md-pull-3.no-gutter
                .image-container
                  .lazy-load-wrapper
                    img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-detail-1.jpg", alt="")
              .col-md-8.col-md-pull-3                  
                .content-container
                  .detail-breadcrums-wrapper
                    include ../includes/breadcrums
                  p.offer-period jan 06 - jan 24, 2016
                    span.icon
                      span.icon-special-offers                                        
                  h3 Peking Duck Special
                  p.descreption Two for One Peking Duck Special
                  p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                  p.avalabilty Available: Weekdays only
                  h5 Nadaman
                  p Kowloon Shangri-La, Hong Kong
                  p Pacific Place, Supreme Court Road, Central
                  p Hong Kong
                  p.telephone
                    a(href="tel:+852 12345678") +852 12345678
                  p.member-exclusive member exclusive
                  .button-container
                    a.call-us-btn.button-secondary(href="tel:+852 12345678") Call
                    a(class='button-primary inline-block', data-type="book-table-link", href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/") Book a Table
                  .need-to-know
                    h5 Need to know
                    ul
                      li Unde omnis itste natus error
                      li Nemo enim ipsam voluptatem
                      li Nemo enim ipsam voluptatem
                  include ../includes/terms-conditions
                  .social-share
                    span Share
                    .social-icons-wrapper(data-visible=3)
                      include ../includes/social-icons-share
// Module - Offer Detail - Ends