// Module - Offer landing - Starts
section.offer-landing
  .section-row
    .container-fluid.no-gutter
      include ../includes/choose-destination
      include ../modules/landing-filter
    .container
      .row
        .col-md-3.col-sm-12.col-xs-12
          aside.column-left
            .offers-calendars(data-available-days="29-12-2016,30-12-2016,31-12-2016,01-01-2017,02-01-2017,03-01-2017,04-01-2017,05-01-2017,06-01-2017,07-01-2017,08-01-2017,09-01-2017,10-01-2017,11-01-2017,20-07-2016,21-07-2016,22-07-2016,23-07-2016,24-07-2016,25-07-2016,26-07-2016,27-07-2016,28-07-2016,29-07-2016,30-07-2016,31-07-2016")
            .joinus-table.hidden-sm.hidden-xs
              .joinus-content
                .aligned-content
                  .icon
                    span.icon-member-benefits
                  h1 Member benefits
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at diam eu massa scelerisque dapibus vel vitae felis.
                  ul.joinus-list.hidden-xs
                    li Rewards &amp; Benefits
                    li Exclusive Experiences
                    li Local Events                
                  .button-container
                    a(href='javascript:void(0);').button-primary Find Out More
        .col-sm-12.col-md-9
          .special-offers
            .no-result-message Sorry, there are no results matching your search.
            .row
              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img11.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 
                          a(href="#") Peking Duck Special Mea Omnes Vivendum Ut Ei Dicit Clita Iuvaret Per
                        p.descreption Discover Nadaman's signature dishes and specialties.
                        p.location In multiple locations 
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        p.member-exclusive member exclusive
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img12.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Family Experience
                        p.descreption Earn Extra Points For Family Weekend Lunch
                        p.location At Angelini, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        p.member-exclusive member exclusive
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img13.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Eat &amp; Drink Japan
                        p.descreption Omnis voluptas assumenda est temporibus autem quibusdam
                        p.location In multiple locations 
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img14.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Happy Hour 50% Off
                        p.descreption Ut enim ad minima veniam, quis nostrum exercitationem
                        p.location Nadaman, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img15.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 50% Afternoon Tea for Two
                        p.descreption Ut enim ad minima veniam, quis nostrum exercitationem
                        p.location Nadaman, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img16.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Teppanyaki Possit Ullamcorper Nec Ad Putent Eirmod Menandri Pro Et Eu Pri 
                        p.descreption Ut enim ad minima veniam, quis nostrum exercitationem
                        p.location Nadaman, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        p.member-exclusive member exclusive
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img17.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Dim Sum Weekend Discount 
                        p.descreption Ut enim ad minima veniam, quis nostrum exercitationem
                        p.location Nadaman, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img18.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Italian Gastronomy Lunch Special
                        p.descreption Ut enim ad minima veniam, quis nostrum exercitationem
                        p.location Nadaman, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img19.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Wine Tasting Dinner with Tapas
                        p.descreption Ut enim ad minima veniam, quis nostrum exercitationem
                        p.location Nadaman, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24

              .col-xs-12.col-sm-6.col-md-12
                .special-offer-container
                  .inner-container
                    .col-md-4.col-md-pull-1.no-gutter
                      .image-container
                        .lazy-load-wrapper
                          img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img20.jpg", alt="")
                    .col-md-7.col-md-pull-1                  
                      .content-container
                        p.offer-period jan 06 - jan 24, 2016
                          span.icon
                            span.icon-special-offers                                        
                        h3 Mother’s Day Poolside Brunch Buffet
                        p.descreption Ut enim ad minima veniam, quis nostrum exercitationem
                        p.location Nadaman, Island Shangri-La, Hong Kong
                        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                        .button-container
                          a.find-out-more.button-secondary(href="#") Find Out More
                    .offer-vaildity
                      p Valid
                      p
                        span Jan 06
                        span.divider
                        span Jan 24
            include ../modules/paginationjs
    
      include ../modules/merchandising-fullwidth-block-variation-1
      include ../modules/merchandising-fullwidth-block-variation-2
      include ../modules/merchandising-fullwidth-block-variation-3
      include ../modules/merchandising-fullwidth-block-variation-4
      include ../modules/merchandising-fullwidth-block-variation-5
      include ../modules/merchandising-fullwidth-block-variation-6
      include ../modules/merchandising-fullwidth-block-variation-7

// Module - Offer landing - Ends