.pagination-holder
	input#hdnExpPerPage(type="hidden", vallue="10")
	.paginationjs
		.paginationjs-pages
			ul
				li.paginationjs-prev.disabled
					a &lt;
				li.paginationjs-page.J-paginationjs-page.active(data-num="1")
					a 1
				li.paginationjs-page.J-paginationjs-page(data-num="2")
					a 2
				li.paginationjs-page.J-paginationjs-page(data-num="3")
					a 3
				li.paginationjs-next.J-paginationjs-next(data-num="2", title="Next Page")
					a &gt;