// Gallery Section
section.gallery.accordion-container
  .section-heading
    h1.accordion-header.icon-angle-down Gallery
  .panel-container
    .tabs-section
      ul.tabs
        li
          a(href="javascript:void(0);") Photos
        li
          a(href="javascript:void(0);") Videos
      .tabs-content
        .owl-carousel.photo-gallery.image-gallery
          .item
            .item-container
              .zoom-section
                a(class="zoom-link icon-search-plus hidden", href="#")
                a(class="icon-export", href="javascript:void(0);")
              img(src='content/img/content/photocarousel.jpg', alt='Timeless Allure of the Orient')
            .caption-block-wrapper
              .caption-block
                h2 Timeless Allure of the Orient            
                p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                a(class='button-secondary inline-block', href='#', tabindex="-1") Find out more

          .item
            .item-container
              .zoom-section
                a(class="zoom-link icon-search-plus hidden", href="#")
                a(class="icon-export", href="javascript:void(0);")
              img(src='content/img/content/photocarousel.jpg', alt='Timeless Allure of the Orient')
            .caption-block-wrapper
              .caption-block
                h2 Timeless Allure of the Orient            
                p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                a(class='button-secondary inline-block', href='#', tabindex="-1") Find out more


      .tabs-content
        .owl-carousel.photo-gallery.video-gallery
          .item
            .item-container
              img(src='content/img/content/photocarousel.jpg', alt='Timeless Allure of the Orient')
              a(href='//players.brightcove.net/4554542031001/default_default/index.html?videoId=4898716212001', class='video-link play-btn icon-play')
            .caption-block-wrapper
              .caption-block
                h2 Timeless Allure of the Orient
                p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

          .item
            .item-container
              img(src='content/img/content/photocarousel.jpg', alt='Timeless Allure of the Orient')
              a(href='//players.brightcove.net/4554542031001/default_default/index.html?videoId=4898716212001', class='video-link play-btn icon-play')
            .caption-block-wrapper
              .caption-block
                h2 Timeless Allure of the Orient
                p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
