div.container
	div.title-container
		h2.redemption-area.capital Redemption Detail:
	div.redemption-block.redemption-block-intro.horizontal-rule
		div.row
			div.col-xs-3
				p.redemption-block-title Location:
				span Waterside Terrace, Island Shangri-La, Hong Kong
			div.col-xs-3
			div.col-xs-3
				p.redemption-block-title Date:
				span SEP 24, 2017
			div.col-xs-3
				p.redemption-block-title Time:
				span 08:00 PM

div.container
	div.redemption-block.horizontal-rule
		div.row
			div.col-lg-6
				ul.row
					li.col-lg-4.redemption-block-title Redeemed on:
					li.col-lg-8 APR 24, 2016
					li.col-lg-4.redemption-block-title GC Points Used:
					li.col-lg-8 8000 GC Points
					li.col-lg-4.redemption-block-title Packages:
					li.col-lg-8 4
					li.col-lg-4.redemption-block-title Contact Email:
					li.col-lg-8 alan.lau@gmail.com

			div.col-lg-6
				ul.row
					li.col-lg-4.redemption-block-title Name:
					li.col-lg-8 Mr. Alan Lau
					li.col-lg-4.redemption-block-title GC Membership:
					li.col-lg-8 6902941234
					li.col-lg-4.redemption-block-title Admits:
					li.col-lg-8 Admits 4 People
					li.col-lg-4.redemption-block-title Contact&nbsp;Number:
					li.col-lg-8 89351235

div.container
	div.redemption-block.horizontal-rule
		ul.row
			li.col-lg-4.redemption-block-title Redemption #5FB855663556006
			li.col-lg-8 Mr Alan Lau - No special request or dietary requirements
			li.col-lg-4.redemption-block-title Redemption #5FB855663556064
			li.col-lg-8 Ms Suzy Lee - No fish
			li.col-lg-4.redemption-block-title Redemption #5FB855663546060
			li.col-lg-8 Mr Bruce Lee - No vegetables
			li.col-lg-4.redemption-block-title Redemption #9F3354633529457
			li.col-lg-8 Dr Stephen Strange - No special request or dietary requirements

div.container
	div.title-container
		h2.redemption-area.capital.horizontal-rule-bottom Note:
	div.redemption-block
		div.row
			div.col-lg-12
				div.print-redeem-instrcution
					p.redemption-block-title Instruction:
					p Head to the lobby Shang Palace no later than 07:45PM and you will be directed by Jamie Wong to the dining area. Dress code is format with pants and shirt.
			div.col-lg-12
				div.print-redeem-tnc
					p.redemption-block-title Terms & Conditions:
					p Please read terms & conditions available
						a(href='http://www.golden-circle.com/thetable/terms-and-conditions/', title="Terms and Conditions", target="_blank")  http://www.golden-circle.com/thetable/terms-and-conditions/
		div.row
			div.col-lg-12
				p.horizontal-rule If you have any questions please don't hesitate to call (852) 2331 6608 or our
					a(href='#') 24-hour international toll-free numbers.
					br
					| Thank you again for redeeming the experience and we look forward to welcoming you soon!
