section.redeem-result.failed
  .section-row
    .container
      .section-heading
        h1 Unable to Process Your Request
      .redeem-result-container
        p.error-info Due to system issues your redemption was not completed.
        .redeem-points-info
          dl
            dt GC Points Used: 
            dd 0 GC Points
          dl
            dt Your GC Points Balance:
            dd 2,30,000 GC Points
        p.error-message Please contact (852) 2332 6608 to resolve this issue.
        p.error-message Due to high demand, it's possible this experience will be unavailable before you confirm your redemption.
        
        p.continue-browse 
          a(href='#') Continue browsing other unique dining experience





