section.redeem-result
  .section-row
    .container
      .section-heading
        h1 You're on the guestlist
      .redeem-result-container
        p Thanks for signing up to
        h2.small-heading Tea Mixology Workshop
        .redeem-location
          ul
            li <span>Location:</span>Waterside Terrace, Island Shangri-La Hong Kong
            li <span>Date:</span>SEP 24,2016
            li <span>Time:</span>8:00PM
        .redeem-points-info
          dl
            dt GC Points Used: 
            dd 2,000 GC Points
          dl
            dt Your GC Points Balance:
            dd 2,30,000 GC Points
        .redeem-confirm-details
          ul.redeem-confirm-heading
            li 
              span Confirmation Number
              span Detail
          ul.redeem-confirm-content
            li.confirmed
              span.redeem-id #5FB00234002313 
              span.redeem-person-info 
                span.name Mr Alan Lau 
                span.dietary - no special request/ dietry requirements
            li.confirmed
              span.redeem-id #9AB00234002313
              span.redeem-person-info 
                span.name Ms Suzy Lee 
                span.dietary - no fish
            li.confirmed
              span.redeem-id #7HE90294920455
              span.redeem-person-info 
                span.name Mr Bruce Lee 
                span.dietary - no vegetables
            li.confirmed
              span.redeem-id #5KF39508H89245
              span.redeem-person-info 
                span.name Dr Stephen Strange 
                span.dietary - no special request/ dietry requirements

        p An email confirmation has been sent to alan.lau@gmail.com. We look forward to seeing you soon.
        .social-share
          a(href='print-redemption-confirmation.html', class="print-confirm", title="Print Confirmation", target="_blank") Print Confirmation
            i.icon-print
          span Share
          .social-icons-wrapper(data-visible=3)
            include ../includes/social-icons-share
        p.continue-browse 
          a(href='#') Continue browsing other unique dining experience





