section.redeem-result.failed
  .section-row
    .container
      .section-heading
        h1 Unable to process request
      .redeem-result-container
        p.error-info Sorry, there are no more packages left for this experience.
        h2.small-heading Tea Mixology Workshop
        .redeem-location
          ul
            li <span>Location:</span>Waterside Terrace, Island Shangri-La Hong Kong
            li <span>Date:</span>SEP 24,2016
            li <span>Time:</span>8:00PM
        p.info Add your name to the wait list and we'll contact you if any spaces become available.
        div.redeem-row
          a.button-primary(href='#') Add to wait list
        p.continue-browse 
          a(href='#') Continue browsing other unique dining experience





