section.redeem-result.failed
  .section-row
    .container
      .section-heading
        h1 Unable to process request
      .redeem-result-container
        p.error-info Sorry, there are no more packages left for this experience.
        h2.small-heading Tea Mixology Workshop
        .redeem-location
          ul
            li <span>Location:</span>Waterside Terrace, Island Shangri-La Hong Kong
            li <span>Date:</span>SEP 24,2016
            li <span>Time:</span>8:00PM
        p.info Thank you. You have been added to our waitlist.<br/>We will contact you if any spaces become available.
        p.continue-browse 
          a(href='#') Continue browsing other unique dining experience