.filter
  .container.no-gutter
    .row
      .col-xs-12
        .filter-container
          .filter-field
            .form-container
              a.filter-btn(href="javascript:void(0);") Filter

              ul
                li.filter-by
                  span.open Filter by
                li
                  .form-field
                    .field-container
                      .ui-select.icon-angle-down
                        span.input-value
                          | Hotels (
                          span All
                          | ) 
                    .multiselect-dropdown
                      ul
                        li.others
                          label 
                            input(type="checkbox" name="hotel" value="Hotel 1")
                            span.icon-uncheck Hotel 1
                        li.others
                          label 
                            input(type="checkbox" name="hotel" value="Hotel 2")
                            span.icon-uncheck Hotel 2
                        li.others
                          label 
                            input(type="checkbox" name="hotel" value="Hotel 3")
                            span.icon-uncheck Hotel 3
                        li.others
                          label 
                            input(type="checkbox" name="hotel" value="Hotel 4")
                            span.icon-uncheck Hotel 4
                        li.others
                          label 
                            input(type="checkbox" name="hotel" value="Hotel 5")
                            span.icon-uncheck Hotel 5
                        li.others
                          label 
                            input(type="checkbox" name="hotel" value="Hotel 6")
                            span.icon-uncheck Hotel 6
                        li.others 
                          label 
                            input(type="checkbox" name="hotel" value="Hotel 7")
                            span.icon-uncheck  Hotel 7
                li
                  .form-field
                    .field-container
                      .ui-select.icon-angle-down
                        span.input-value
                          | Cuisines (
                          span All
                          | ) 
                    .multiselect-dropdown
                      ul
                        li
                          label 
                            input(type="checkbox" name="cuisine" value="chinese")
                            span.icon-uncheck Chinese
                        li
                          label 
                            input(type="checkbox" name="cuisine" value="french")
                            span.icon-uncheck French
                        li
                          label 
                            input(type="checkbox" name="cuisine" value="italian")
                            span.icon-uncheck Italian
                        li
                          label 
                            input(type="checkbox" name="cuisine" value="japanese")
                            span.icon-uncheck Japanese
                        li
                          label 
                            input(type="checkbox" name="cuisine" value="indian")
                            span.icon-uncheck Indian
                        li
                          label 
                            input(type="checkbox" name="cuisine" value="middle eastern")
                            span.icon-uncheck Middle Eastern
                        li 
                          label 
                            input(type="checkbox" name="cuisine" value="thai")
                            span.icon-uncheck Thai

                li
                  .form-field
                    .field-container
                      .ui-select.icon-angle-down
                        span.input-value
                          | Moods (
                          span All
                          | ) 
                    .multiselect-dropdown
                      ul
                        li
                          label 
                            input(type="checkbox" value="mood1")
                            span.icon-uncheck Mood 1
                        li
                          label 
                            input(type="checkbox" value="mood2")
                            span.icon-uncheck Mood 2
                        li
                          label 
                            input(type="checkbox" value="mood3")
                            span.icon-uncheck Mood 3
                        li
                          label 
                            input(type="checkbox" value="mood4")
                            span.icon-uncheck Mood 4
                        li
                          label 
                            input(type="checkbox" value="mood5")
                            span.icon-uncheck Mood 5

                li
                  .form-field
                    .field-container
                      .ui-select.icon-angle-down
                        span.input-value
                          | Prices (
                          span All
                          | ) 
                    .multiselect-dropdown
                      ul
                        li
                          label
                            input(type="checkbox")
                            span.icon-uncheck $
                        li
                          label 
                            input(type="checkbox")
                            span.icon-uncheck $$
                        li
                          label 
                            input(type="checkbox")
                            span.icon-uncheck $$$
                        li
                          label 
                            input(type="checkbox")
                            span.icon-uncheck $$$$
                
                li
                  span.filter-clear-all Clear all

          .filter-view
            span.filter-grid-view.icon-grid-view.active
            span.filter-map-view.icon-map-view