// Module - Restaurant and Bar Landing - Starts
section.restaurant-bar-list
  .section-row
    .container-fluid.no-gutter
      include ../includes/choose-destination
    include restaurant-bar-filter
    include restaurant-bar-grid
    include restaurant-bar-map
// Module - Restaurant and Bar Landing - Starts