// Module - Restaurant and Bar Map View - Starts
section.restaurant-bar-map
  .no-result-message Uh oh. We don't have a place exatly like that.
  .container.no-gutter
    .map-view-container
      .map-wrapper
        #rb-map(data-service="./services/rb-map.json")
      .title
          h2.title-name Restaurant and Bars nearby
            span.count
      .detail-container
        .container.no-gutter
          h3.hotel-name Kowloon Shangri-La
            span.count (32)
          .row
            // This is a restaurant and bar of KSL
            .col-xs-12.col-sm-6.col-md-12
              .restaurant-bar-container(data-hotel-id="KSL", data-venue-id="KSL_CAFEKOOL")
                .image-container.lazy-load-wrapper
                  a(href="#")
                    img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/lobster-bar-grill.jpg", alt="")
                    span.icon
                      span.icon-restaurants-bars
                .content-container
                  h2 
                    a(href="#") Sigi's Bar &amp; Grill On The Beach
                  p.restaurant-bar-address Island Shangri-La, Hong Kong Hong Kong
                  p.restaurant-bar-address Hong Kong
                  p.cuisine Grill and Steakhouse
                    span.divider |
                    span.price $$
                  p.offer Offers (2)
                    span.divider |
                    span.price Experiences (1)
                  p.contact-info +
                    span.contact-number 852 12345678
                  .button-container
                    a.call-us-btn.button-secondary(href="#") Call
                    a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
            // This is a restaurant and bar of KSL
            .col-xs-12.col-sm-6.col-md-12
              .restaurant-bar-container(data-hotel-id="KSL", data-venue-id="KSL_DELIKOOL")
                .image-container.lazy-load-wrapper
                  a(href="#")
                    img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/waterside-terrace.jpg", alt="")
                    span.icon
                      span.icon-restaurants-bars
                .content-container
                  h2 
                    a(href="#") Waterside Terrace
                  p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                  p.restaurant-bar-address Hong Kong
                  p.cuisine THAI 
                    span.divider |
                    span.price $$
                  p.offer Offers (2)
                    span.divider |
                    span.price Experiences (1)
                  p.contact-info +
                    span.contact-number 852 12345678
                  .button-container
                    a.call-us-btn.button-secondary(href="#") Call
                    a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          
            // This is a restaurant and bar of KSL
            .col-xs-12.col-sm-6.col-md-12
              .restaurant-bar-container(data-hotel-id="KSL", data-venue-id="KSL_NADAMAN")
                .image-container.lazy-load-wrapper
                  a(href="#")
                    img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/cafe-kool.jpg", alt="")
                    span.icon
                      span.icon-restaurants-bars
                .content-container
                  h2 
                    a(href="#") Café Kool
                  p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                  p.restaurant-bar-address Hong Kong
                  p.cuisine International
                    span.divider |
                    span.price $$
                  p.offer Offers (2)
                    span.divider |
                    span.price Experiences (1)
                  p.contact-info +
                    span.contact-number 852 12345678
                  .button-container
                    a.call-us-btn.button-secondary(href="#") Call
                    a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          
          h3.hotel-name Island Shangri-La
            span.count (3)
          .row
            // This is a restaurant and bar of ISL
            .col-xs-12.col-sm-6.col-md-12
              .restaurant-bar-container(data-hotel-id="ISL", data-venue-id="ISL_LOBSTERBARANDGRILL")
                .image-container.lazy-load-wrapper
                  a(href="#")
                    img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/angelini.jpg", alt="")
                    span.icon
                      span.icon-restaurants-bars
                .content-container
                  h2 
                    a(href="#") Angelini
                  p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                  p.restaurant-bar-address Hong Kong
                  p.cuisine Italian
                    span.divider |
                    span.price $$
                  p.offer Offers (2)
                    span.divider |
                    span.price Experiences (1)
                  p.contact-info +
                    span.contact-number 852 12345678
                  .button-container
                    a.call-us-btn.button-secondary(href="#") Call     
                    a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
            // This is a restaurant and bar of ISL
            .col-xs-12.col-sm-6.col-md-12
              .restaurant-bar-container(data-hotel-id="ISL", data-venue-id="ISL_CAFETOO")
                .image-container.lazy-load-wrapper
                  a(href="#")
                    img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/nadaman.jpg", alt="")
                    span.icon
                      span.icon-restaurants-bars
                .content-container
                  h2 
                    a(href="#") Nadaman
                  p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                  p.restaurant-bar-address Hong Kong
                  p.cuisine japanese
                    span.divider |
                    span.price $$
                  p.offer Offers (2)
                    span.divider |
                    span.price Experiences (1)
                  p.contact-info +
                    span.contact-number 852 12345678
                  .button-container
                    a.call-us-btn.button-secondary(href="#") Call
                    a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
            // This is a restaurant and bar of ISL
            .col-xs-12.col-sm-6.col-md-12
              .restaurant-bar-container(data-hotel-id="ISL", data-venue-id="ISL_ISLANDGOURMET")
                .image-container.lazy-load-wrapper
                  a(href="#")
                    img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/petrus.jpg", alt="")
                    span.icon
                      span.icon-restaurants-bars
                .content-container
                  h2 
                    a(href="#") Petrus
                  p.restaurant-bar-address Island Shangri-La, Hong Kong
                  p.restaurant-bar-address Hong Kong
                  p.cuisine French
                    span.divider |
                    span.price $$
                  p.offer Offers (2)
                    span.divider |
                    span.price Experiences (1)
                  p.contact-info +
                    span.contact-number 852 12345678
                  .button-container
                    a.call-us-btn.button-secondary(href="#") Call
                    a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table

// Module - Restaurant and Bar Map View - Ends