// Module - Restaurant and Bar List (Default View) - Starts
section.restaurant-bar-list
  .section-row
    .container-fluid.no-gutter
      include ../includes/choose-destination-restaurants-bars
      .container.no-gutter
        .row
          // This is a restaurant and bar container 1
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/lobster-bar-grill.jpg", alt="Lobster &amp; bar Grill")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Lobster &amp; bar Grill
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine Italian
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          // This is a restaurant and bar container 2
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/waterside-terrace.jpg", alt="Waterside Terrace")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Sigi's Bar &amp; Grill On The Beach
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine Italian
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          // This is a restaurant and bar container 3
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/cafe-kool.jpg", alt="Café Cool")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Café Cool
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine International
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          // This is a restaurant and bar container 4
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/angelini.jpg", alt="Angelini")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Angelini
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine Italian
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          // This is a restaurant and bar container 5
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/nadaman.jpg", alt="Nadaman")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Nadaman
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine japanese
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          // This is a restaurant and bar container 6
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/petrus.jpg", alt="Petrus")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Petrus
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine Italian
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          // This is a restaurant and bar container 7
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/shang-palace.jpg", alt="Shang Palace")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Shang Palace
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine International
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table
          // This is a restaurant and bar container 8
          .col-xs-12.col-sm-6.col-md-3
            .restaurant-bar-container
              .image-container.lazy-load-wrapper
                a(href="#")
                  img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/cafe-malacca.jpg", alt="Cafe Malacca")
                  span.icon
                    span.icon-restaurants-bars
              .content-container
                h2 
                  a(href="#") Cafe Malacca
                p.restaurant-bar-address Kowloon Shangri-La, Hong Kong
                p.restaurant-bar-address Hong Kong
                p.cuisine Italian
                  span.divider |
                  span.price $$
                p.contact-info +
                  span.contact-number 852 12345678
                .button-container
                  a.call-us-btn.button-secondary(href="tel:+852 1234 5678") Call
                  a.book-now-btn.button-secondary(href="https://tms-tablereservations.shangri-la.com/shangrila_testing/hk/en/resvs/booking/isl_cafe_too/" data-type="book-table-link") Book a Table

        .view-all-btn
          a.button-primary(href='#')
            | view all (
            span 36
            | )
// Module - Restaurant and Bar List (Default View) - Ends