// Module - Section Experience Header Variation Two - Starts
section.section-experience-header.one-off-culinary
  .container
    .image-container
      .lazy-load-wrapper
        img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/experience-header-banner.jpg", alt="Tea Mixology Workshop")
    .caption-block
      .aligned-content
        .icon
          span.icon-experiences
        h4 Sep 24, 2016
        h3 Tea Mixology Workshop
        p.gc-points 2,000 GC points
        p.gc-package-count open to 20 packages
        h5 Waterside Terrace
        h6 Island Shangri-La, Hong Kong
        //a(class='callus-btn', href='tel:+852 12345678') +852 12345678
        .member-exclusive-tag-wrapper
          .member-exclusive-tag member exclusive
        .button-container
          span(class='button-primary inline-block redeem-cta disabled') Redemption Closed

// Moule - Section Experience Header Variation Two - Ends 