// Module - Section Image Header (Common module on landing pages) - Starts
section.section-image-header
  .container-fluid.no-gutter
    .image-container
      img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/restaurant-bar-landing-header.jpg", alt="SUMMER PALACE Island Shangri-La")
    .content-container
      h1 RESTAURANTS &amp; BARS
    .social-container
      .container
        .row
          .col-lg-12
            .social-share
              span Share
              .social-icons-wrapper(data-visible=3)
                include ../includes/social-icons-share
// Module - Section Image Header (Common module on landing pages) - Ends