// Module - Section Image Header (Common module on landing pages) - Starts
section.section-image-header.mb
  .container-fluid.no-gutter
    .image-container
      img.lazy-load(src="content/img/content/placeholder.png", data-src="content/img/content/member-benifits-header.jpg", alt="Member Benefits")
    .content-container
      h1 Member Benefits
    .social-container
      .container
        .row
          .col-lg-12
            .social-share
              span Share
              .social-icons-wrapper(data-visible=3)
                include ../includes/social-icons-share
// Module - Section Image Header (Common module on landing pages) - Ends
