// Module - Section Image Header (Mood pages) - Starts
section.section-header-mood
  .container

    .brightcove-video(data-account="4554542031001", data-video-id="4898708312001")

    .content-container
      h1 Casual &amp; Relaxed
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend ligula id fermentum eleifend. Sed blandit sagittis diam. Morbi eu sapien sed orci malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .social-share
        span Share
        .social-icons-wrapper(data-visible=3)
          include ../includes/social-icons-share

  .container-fluid.no-gutter
    include ../includes/choose-destination

// Module - Section Image Header (Mood pages) - Ends