// Module - Social Gallery - Starts
section.social-gallery
  .section-row
    .container-fluid.no-gutter
      .section-heading
          h1 Social Gallery
          p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

      include ../modules/social-gallery-list

// Module - Social Gallery - Ends