// Module - Special Offers (Default View) - Starts
section.special-offers
  .section-row
    .container-fluid.no-gutter
      include ../includes/choose-destination-special-offers
      .container.no-gutter
        .row
          // Special Offer Containers
          .col-xs-12.col-sm-6
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      a(href="#")
                        img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img1.jpg", alt="")
                .col-md-8.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3
                      a(href="#") Teppanyaki Dinner
                    p.descreption Discover Nadaman's signature dishes and specialties. 
                    h5 Nadaman
                    p Kowloon Shangri-La, Hong Kong
                    p Hong Kong
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
          .col-xs-12.col-sm-6
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      a(href="#")
                        img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img2.jpg", alt="")
                .col-md-8.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3
                      a(href="#") 50% Off Afternoon Tea for Two
                    p.descreption Discover Café Cool’s signature dishes and specialties.
                    h5 Café Cool
                    p Kowloon Shangri-La, Hong Kong
                    p Hong Kong
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more

          .col-xs-12.col-sm-6
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      a(href="#")
                        img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img3.jpg", alt="")
                .col-md-8.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3
                      a(href="#") Dim Sum Weekend Discount
                    p.descreption Discover Shang Palace’s signature dishes and specialties.
                    h5 Shang Palace
                    p Kowloon Shangri-La, Hong Kong
                    p Hong Kong
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more

          .col-xs-12.col-sm-6
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      a(href="#")
                        img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img4.jpg", alt="")
                .col-md-8.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3
                      a(href="#") Italian Gastronomy Lunch Special
                    p.descreption Discover Angelini’s signature dishes and specialties.
                    h5 Angelini
                    p Kowloon Shangri-La, Hong Kong
                    p Hong Kong
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more          

        .view-all-btn
          a.button-primary(href='#')
            | view all (
            span 36
            | )
// Module - Special Offers (Default View) - Ends