section.thank-you-page
  .section-row
    .container
      .section-heading
        h1 Thank you for joining Golden Circle
      .thank-you-container
        img(src='content/img/content/membership-gold.png', alt='Thank you for joining Golden Circle')
        div.memberinfo.redeem-row
          p Mr Alan Lau
          p Golden Circle Membership: 
            span.membership-number 87543912  
        div.redeem-row.thank-you-content
          p An email confirmation has been sent to alan.lau@gmail.com.
          p Enjoy the online experience.
        div.redeem-row.cta-group
          ul
            li 
              a.button-secondary(href='#') View Your Profile
            li
              a.button-primary(href='#') Continue
          p By clicking 'Continue' you will be redirected to the homepage. 
        .digital-connect
          .digital-card
              a(href="#") <span class="icon-digitalcard"></span> Get digital card
          ol
            li.qr-code-wrapper
              h4 Scan for Digital Membership Card
              div#divQrCode
                img(src='content/img/content/qr-code.png', alt='QR Code Generator')
            li
              h4 Download our App to Stay Connected
              ul
                li 
                  a(href="#" title="Download App on mac store") 
                    img(src='content/img/content/button-mac-store.png', alt='Download Shangri-La app on App Store')
                li
                  a(href="#" title="Download App on Google Play") 
                    img(src='content/img/content/button-play-store.png', alt='Download Shangri-La app on Google Play')