.thankyou-container.join-golden-circle-pop-up.hidden
  h2 Thank you for joining golden circle
  p.membership-number Your membership number is:
    span 690123456789
  a(href="javascript:void(0)" class="button-secondary") see membership benefits