// Module Restaurant and Bar Venue Detail - About - Starts
section.about.accordion-container
  .section-heading
    h1.accordion-header.icon-angle-down(onclick="return false") About
  .about-container.panel-container
    .about-content
      .extra-info
        .row
          .col-xs-12.col-sm-4.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
            ul
              li.title.icon-cuisine Cuisine
                ul
                  li Cuisine
              li.title.icon-mood Mood
                ul
                  li Mood
              li.title.icon-cost Cost
                ul
                  li $$$
              li.title.icon-telephone Phone
                ul
                  li
                    a(href="tel:+852 1234 5678") +852 1234 5678
              li.title.icon-dress-code Dress code
                ul
                  li Smart Casual
              li.title.icon-website Website
                ul
                  li
                    a.website(href="http://www.summerpalace.com", target="_blank") www.summerpalace.com
          .col-xs-12.col-sm-6.col-lg-offset-1
            ul
              li.title.icon-opening Opening hours
                ul
                  li Daily: 5:00am - 1:00am
              li.title Breakfast
                ul
                  li Continental Buffet Monday - Sunday: 5am - 10:30pm
                  li Full Buffet Monday - Friday: 6am - 10:30am
                  li Saturday, Sunday &amp; Public Holidays: 6am - 11am
                  li À la carte Monday - Sunday: 5am – 11am

              li.title Lunch
                ul
                  li Monday - Friday: 12noon – 2:30pm
                  li Saturday, Sunday &amp; Public Holidays: 12noon – 3pm
              li.title Dinner
                ul
                  li Monday - Sunday: 6pm – 10:30pm
                  li À la carte  Monday - Sunday: 11am – 1am
              li.title Additional Information
                ul.has-bullets
                  li Some Notes
                  li Some Other Notes
      .introductory
        .introductory-text
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          p.read-more.icon-angle-down-rgt Read More
        .introductory-fulltext
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          p.read-less.icon-angle-up-rgt Read Less

      .icon-awards Awards
        ul
          li 2 Michelin stars, Michelin Guide (Hong Kong &amp; Macau) 2013 - 2015
          li 2 Michelin stars, Michelin Guide (Hong Kong &amp; Macau) 2013 - 2015
      .testimonial
        p "Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam"
        p.testimony - Trip Advisor
      .chef-info
        .row
          .col-sm-3.no-gutter
            .lazy-load-wrapper
              img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/chef-lp-leung.jpg", alt="Chef lp leung")
          .col-sm-9
            .chef-content
              h3 Chef Ip Leung
              .introductory
                .introductory-text
                  p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                  p.read-more.icon-angle-down-rgt Read More
                .introductory-fulltext
                  p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                  p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                  p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                  p.read-less.icon-angle-up-rgt Read Less






      .joinus-table
        .joinus-content
          .aligned-content
            h1 Member benefits
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at diam eu massa scelerisque dapibus vel vitae felis. Proin cursus leo non leo ullamcorper.
            ul.joinus-list
              li Rewards &amp; Benefits
              li Exclusive Experiences
              li Local Events
            a(href='javascript:void(0);').button-primary FIND OUT MORE
