// Module - Restaurant and Bar Venue Details - Special Offers - Starts

section.venue-special-offers.accordion-container
  .section-heading
    h1.accordion-header.icon-angle-down special offers
  .panel-container
    .tabs-section
      ul.tabs
        li
          a.active(href="javascript:void(0);", title="All") All
        li
          a(href="javascript:void(0);", title="Member Exclusive") Member Exclusive
      .tabs-content
        .row
          .col-xs-12
            .special-offer-container
              .inner-container
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img1.jpg", alt="")
                .col-md-7.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3 Two for One Peking Duck Special
                    p.descreption Discover Nadaman's signature dishes and specialties. 
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
                .offer-vaildity
                  p Valid
                  p
                    span Jan 06
                    span.divider
                    span Jan 24

          .col-xs-12
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img2.jpg", alt="")
                .col-md-7.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3 Family Experience
                    p.descreption Earn Extra Points For Family Weekend Lunch
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
                .offer-vaildity
                  p Valid
                  p
                    span Jan 06
                    span.divider
                    span Jan 24

          .col-xs-12
            .special-offer-container
              .inner-container
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img1.jpg", alt="")
                .col-md-7.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3 Two for One Peking Duck Special
                    p.descreption Discover Nadaman's signature dishes and specialties. 
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
                .offer-vaildity
                  p Valid
                  p
                    span Jan 06
                    span.divider
                    span Jan 24

          .col-xs-12
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img2.jpg", alt="")
                .col-md-7.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3 Family Experience
                    p.descreption Earn Extra Points For Family Weekend Lunch
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
                .offer-vaildity
                  p Valid
                  p
                    span Jan 06
                    span.divider
                    span Jan 24

      .tabs-content
        .row
          .col-xs-12
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img1.jpg", alt="")
                .col-md-7.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 24 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3 Two for One Peking Duck Special
                    p.descreption Discover Nadaman's signature dishes and specialties. 
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
                .offer-vaildity
                  p Valid
                  p
                    span Jan 06
                    span.divider
                    span Jan 24

          .col-xs-12
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img2.jpg", alt="")
                .col-md-7.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3 Family Experience
                    p.descreption Earn Extra Points For Family Weekend Lunch
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
                .offer-vaildity
                  p Valid
                  p
                    span Jan 06
                    span.divider
                    span Jan 24
          .col-xs-12
            .special-offer-container              
              .inner-container                                
                .col-md-4.col-md-pull-1.no-gutter
                  .image-container.hidden-xs.hidden-sm
                    .lazy-load-wrapper
                      img.lazy-load.img-responsive(src="content/img/content/placeholder.png", data-src="content/img/content/special-offer-img2.jpg", alt="")
                .col-md-7.col-md-pull-1                  
                  .content-container
                    p.offer-period Jan 14 - Jan 28, 2016
                      span.icon
                        span.icon-special-offers                                        
                    h3 Family Experience
                    p.descreption Earn Extra Points For Family Weekend Lunch
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod... 
                    p.member-exclusive member exclusive
                    .button-container
                      a.find-out-more.button-secondary(href="#") Find out more
                .offer-vaildity
                  p Valid
                  p
                    span Jan 06
                    span.divider
                    span Jan 24

      .view-all-btn
        a.button-primary(href='#')
          | view all (
          span 36
          | )