section.venue-menu.accordion-container(data-anchor="menus")
  .section-heading
    h1.accordion-header.icon-angle-down Menus
  .panel-container
    .row
      .col-sm-12.col-md-6.no-gutter
        .img-container.lazy-load-wrapper
          img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/restaurant-menu.jpg', alt='Restaurant Menu')
      .col-sm-12.col-md-6.no-gutter
        .menu-list
          .row
            .col-sm-6
              ul
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Ala cart menu") Ala cart menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Lunch Menu" data-section-header="#barbecued-section") Lunch Menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Dinner Menu") Dinner Menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Special Events Menu") Special Events Menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Another Menu") Another Menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Dim Sum Menu") Dim Sum Menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Chef’s Recommendation") Chef’s Recommendation
                  .menu-detail-wrapper
            .col-sm-6
              ul
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Dessert Menu") Dessert Menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Drinks Menu") Drinks Menu
                  .menu-detail-wrapper
                li
                  a(href="/Shangri-la/lbi-int/menu.html", title="Holiday Menu") Holiday Menu
                  .menu-detail-wrapper