// Module - Restaurant and Bar Venue Details - Starts
section.venue-experiences.accordion-container
  .section-heading
    h1.accordion-header.icon-angle-down Experiences
  .panel-container
    .tabs-section
      ul.tabs
        li
          a.active(href="javascript:void(0);", title="All") All
        li
          a(href="javascript:void(0);", title="Member Exclusive") Member Exclusive
      .tabs-content
        include ../includes/slider-content-pod-venue-details
      .tabs-content
        include ../includes/slider-content-pod-venue-details