section.venue-menu.accordion-container(data-anchor="menus")
  .section-heading
    h1.accordion-header.icon-angle-down Menus
  .panel-container
    .row
      .col-sm-12.col-md-6.no-gutter
        .img-container.lazy-load-wrapper
          img.lazy-load(src='content/img/content/placeholder.png', data-src='content/img/content/restaurant-menu.jpg', alt='Restaurant Menu')
      .col-sm-12.col-md-6.no-gutter
        .menu-list
          .row
            .col-sm-6
              ul
                li
                  a(href="javascript:void(0);", title="Ala cart menu") Ala cart menu
                  .menu-detail-wrapper
                    .container
                      .row.logo-section
                        .col-xs-12
                          div.logo
                            img(src="content/img/content/shangrila-logo.png", alt="The Table - From Golden Circle")
                      .row.logo-section
                        .col-xs-12
                            span Experiences worth sovouring
                      .row.logo-section
                        .col-xs-12
                            span #FromTheTable
                      .row.menu-section
                        .col-xs-12
                          .menu-detail
                            .section-heading
                              h1 Lunch menu
                              h4.hotel-name Summer Palace, Island Shangri-La
                              a.cta-link.print(href="javascript:void(0);") Download menu as pdf
                            h2 appetisers
                            ul
                              li
                                h3 Chilled crystal ham
                                  span $100
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Shilled cucumber with garlic and balsamic vinegar
                                  span $100
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Century eggs with picked ginger
                                  span $95
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Deep-fried diced beef with garlic in X.O. sauce
                                  span $110
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Deep-fried dumplings filled with diced shrimps
                                  span $110
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Deep-fried white beech mushrooms with salty egg yolk
                                  span $110
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                              li
                                h3 Eggplant with gravy
                                  span $100
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Hot green peppers
                                  span $95
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Marinated black fungus with garlic and peanuts in dark vinegar
                                  span $95
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Marinated pig’s trotters with spicy ginger
                                  span $95
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Shanghainese bean curd with fungus, dried lily bulb and red dates
                                  span $110
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Spicy marinated bean curd sheets with garlic and red chilli
                                  span $95
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

                            h2 Barbecued selection
                            ul
                              li
                                h3 Roasted goose (Half)
                                  span $440
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Roasted goose (Whole)
                                  span $880
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Roasted whole Peking duck
                                  span $740
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Roast duck
                                  span $205
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Chicken in spicy chilli sauce (Half)
                                  span $280
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Chicken in spicy chilli sauce (Whole)
                                  span $540
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                              li
                                h3 Soya chicken marinated in rose wine
                                  span $200
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Sliced barbecued suckling pig
                                  span $300
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Barbecued pork with honey sauce
                                  span $205
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Crispy pork brisket
                                  span $200
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Roasted suckling pork spare ribs with brown garlic
                                  span $160
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Deep-fried crispy ox brisket
                                  span $200
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer congue
                            p ligula quis. Lorem ipsum dolor sit amet.
                li
                  a(href="javascript:void(0);", title="Lunch Menu" data-section-header="#barbecued-section") Lunch Menu
                  .menu-detail-wrapper
                    .container
                      .row
                        .col-xs-12
                          .menu-detail
                            .section-heading
                              h1 Lunch menu
                              a.cta-link(href="javascript:void(0);") Download menu as pdf
                            h2 appetisers
                            ul
                              li
                                h3 Chilled crystal ham
                                  span $100
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Shilled cucumber with garlic and balsamic vinegar
                                  span $100
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Century eggs with picked ginger
                                  span $95
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Deep-fried diced beef with garlic in X.O. sauce
                                  span $110
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Deep-fried dumplings filled with diced shrimps
                                  span $110
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Deep-fried white beech mushrooms with salty egg yolk
                                  span $110
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                              li
                                h3 Eggplant with gravy
                                  span $100
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Hot green peppers
                                  span $95
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Marinated black fungus with garlic and peanuts in dark vinegar
                                  span $95
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Marinated pig’s trotters with spicy ginger
                                  span $95
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Shanghainese bean curd with fungus, dried lily bulb and red dates
                                  span $110
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Spicy marinated bean curd sheets with garlic and red chilli
                                  span $95
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

                            h2#barbecued-section Barbecued selection
                            ul
                              li
                                h3 Roasted goose (Half)
                                  span $440
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Roasted goose (Whole)
                                  span $880
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Roasted whole Peking duck
                                  span $740
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Roast duck
                                  span $205
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Chicken in spicy chilli sauce (Half)
                                  span $280
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Chicken in spicy chilli sauce (Whole)
                                  span $540
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                              li
                                h3 Soya chicken marinated in rose wine
                                  span $200
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              li
                                h3 Sliced barbecued suckling pig
                                  span $300
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                              li
                                h3 Barbecued pork with honey sauce
                                  span $205
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              li
                                h3 Crispy pork brisket
                                  span $200
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              li
                                h3 Roasted suckling pork spare ribs with brown garlic
                                  span $160
                                p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                              li
                                h3 Deep-fried crispy ox brisket
                                  span $200
                                p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer congue
                            p ligula quis. Lorem ipsum dolor sit amet.
                li
                  a(href="javascript:void(0);", title="Dinner Menu") Dinner Menu
                  //repeat .menu-detail-wrapper structure with corresponding menu details
                li
                  a(href="javascript:void(0);", title="Special Events Menu") Special Events Menu
                  //repeat .menu-detail-wrapper structure with corresponding menu details
                li
                  a(href="javascript:void(0);", title="Another Menu") Another Menu
                  //repeat .menu-detail-wrapper structure with corresponding menu details
                li
                  a(href="javascript:void(0);", title="Dim Sum Menu") Dim Sum Menu
                  //repeat .menu-detail-wrapper structure with corresponding menu details
                li
                  a(href="javascript:void(0);", title="Chef’s Recommendation") Chef’s Recommendation
                  //repeat .menu-detail-wrapper structure with corresponding menu details
            .col-sm-6
              ul
                li
                  a(href="javascript:void(0);", title="Dessert Menu") Dessert Menu
                li
                  a(href="javascript:void(0);", title="Drinks Menu") Drinks Menu
                li
                  a(href="javascript:void(0);", title="Holiday Menu") Holiday Menu
       // .menu-detail-wrapper
          .container
            .row
              .col-xs-12
                .menu-detail
                  .section-heading
                    h1 Lunch menu
                    a.cta-link(href="javascript:void(0);") Download menu as pdf
                  h2 appetisers
                  ul
                    li
                      h3 Chilled crystal ham
                        span $100
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    li
                      h3 Shilled cucumber with garlic and balsamic vinegar
                        span $100
                      p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                    li
                      h3 Century eggs with picked ginger
                        span $95
                      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    li
                      h3 Deep-fried diced beef with garlic in X.O. sauce
                        span $110
                      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    li
                      h3 Deep-fried dumplings filled with diced shrimps
                        span $110
                      p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                    li
                      h3 Deep-fried white beech mushrooms with salty egg yolk
                        span $110
                      p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                    li
                      h3 Eggplant with gravy
                        span $100
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    li
                      h3 Hot green peppers
                        span $95
                      p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                    li
                      h3 Marinated black fungus with garlic and peanuts in dark vinegar
                        span $95
                      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    li
                      h3 Marinated pig’s trotters with spicy ginger
                        span $95
                      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    li
                      h3 Shanghainese bean curd with fungus, dried lily bulb and red dates
                        span $110
                      p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                    li
                      h3 Spicy marinated bean curd sheets with garlic and red chilli
                        span $95
                      p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

                  h2 Barbecued selection
                  ul
                    li
                      h3 Roasted goose (Half)
                        span $440
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    li
                      h3 Roasted goose (Whole)
                        span $880
                      p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                    li
                      h3 Roasted whole Peking duck
                        span $740
                      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    li
                      h3 Roast duck
                        span $205
                      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    li
                      h3 Chicken in spicy chilli sauce (Half)
                        span $280
                      p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                    li
                      h3 Chicken in spicy chilli sauce (Whole)
                        span $540
                      p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                    li
                      h3 Soya chicken marinated in rose wine
                        span $200
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    li
                      h3 Sliced barbecued suckling pig
                        span $300
                      p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                    li
                      h3 Barbecued pork with honey sauce
                        span $205
                      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    li
                      h3 Crispy pork brisket
                        span $200
                      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    li
                      h3 Roasted suckling pork spare ribs with brown garlic
                        span $160
                      p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                    li
                      h3 Deep-fried crispy ox brisket
                        span $200
                      p Hisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer congue
                  p ligula quis. Lorem ipsum dolor sit amet.
