extends ../templates/main

append config
  - var Page = {title:"Module - 500"}
  - var Meta = {description:"Module - 500", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/500