extends ../templates/main

append config
  - var Page = {title:"Module - Book Hotel"}
  - var Meta = {description:"Module - Book Hotel", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/book-hotel