extends ../templates/main

append config
  - var Page = {title:"Module - Experience Detail Ooce"}
  - var Meta = {description:"Module - Experience Detail Ooce", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/experience-detail-ooce