extends ../templates/main

append config
  - var Page = {title:"Module - Experiences List Ooce"}
  - var Meta = {description:"Module - Experiences List Ooce", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/experiences-list-ooce