extends ../templates/main

append config
  - var Page = {title:"Module - Experience Landing Filter"}
  - var Meta = {description:"Module - Experience Landing Filter", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/experience-landing-filter