extends ../templates/main

append config
  - var Page = {title:"Module - Footer"}
  - var Meta = {description:"Module - Footer", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/footer