extends ../templates/main

append config
  - var Page = {title:"Module - Generic Content"}
  - var Meta = {description:"Module - Generic Content", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/generic-content