extends ../templates/main

append config
  - var Page = {title:"Module - Header"}
  - var Meta = {description:"Module - Header", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/header