extends ../templates/main

append config
  - var Page = {title:"Module - Join Now V1"}
  - var Meta = {description:"Module - Join Now V1", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/join-now-v1