extends ../templates/main

append config
  - var Page = {title:"Module - Login"}
  - var Meta = {description:"Module - Login", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/login