extends ../templates/main

append config
  - var Page = {title:"Module - Member Benefits Gc Member Tier"}
  - var Meta = {description:"Module - Member Benefits Gc Member Tier", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/member-benefits-gc-member-tier