extends ../templates/main

append config
  - var Page = {title:"Module - Member Profile"}
  - var Meta = {description:"Module - Member Profile", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/member-profile