extends ../templates/main

append config
  - var Page = {title:"Module - Member Benefits Point"}
  - var Meta = {description:"Module - Member Benefits Point", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/member-benefits-point