extends ../templates/main

append config
  - var Page = {title:"Module - Member Benefits Intro"}
  - var Meta = {description:"Module - Member Benefits Intro", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/member-benefits-intro