extends ../templates/main

append config
  - var Page = {title:"Module - Member Benefits Benefit"}
  - var Meta = {description:"Module - Member Benefits Benefit", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/member-benefits-benefit