extends ../templates/main

append config
  - var Page = {title:"Module - Member Benefits Generic Banner"}
  - var Meta = {description:"Module - Member Benefits Generic Banner", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/member-benefits-generic-banner