extends ../templates/main

append config
  - var Page = {title:"Module - Member Benefits About Golden Circle"}
  - var Meta = {description:"Module - Member Benefits About Golden Circle", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/member-benefits-about-golden-circle