extends ../templates/main

append config
  - var Page = {title:"Module - Merchandising Fullwidth Block Variation 1"}
  - var Meta = {description:"Module - Merchandising Fullwidth Block Variation 1", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/merchandising-fullwidth-block-variation-1