extends ../templates/main

append config
  - var Page = {title:"Module - Merchandising Block Variation 2"}
  - var Meta = {description:"Module - Merchandising Block Variation 2", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/merchandising-block-variation-2