extends ../templates/main

append config
  - var Page = {title:"Module - Mood Mosaic"}
  - var Meta = {description:"Module - Mood Mosaic", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/mood-mosaic