extends ../templates/main

append config
  - var Page = {title:"Module - Pagination"}
  - var Meta = {description:"Module - Pagination", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/pagination