extends ../templates/main

append config
  - var Page = {title:"Module - Print Redemption Footer"}
  - var Meta = {description:"Module - Print Redemption Footer", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/print-redemption-footer