extends ../templates/main

append config
  - var Page = {title:"Module - Redemption Confirmation With Errors"}
  - var Meta = {description:"Module - Redemption Confirmation With Errors", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/redemption-confirmation-with-errors