extends ../templates/main

append config
  - var Page = {title:"Module - Redeem Experience Unavailable"}
  - var Meta = {description:"Module - Redeem Experience Unavailable", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/redeem-experience-unavailable