extends ../templates/main

append config
  - var Page = {title:"Module - Redemption Confirmation"}
  - var Meta = {description:"Module - Redemption Confirmation", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/redemption-confirmation