extends ../templates/main

append config
  - var Page = {title:"Module - Restaurant Bar List Three Venues"}
  - var Meta = {description:"Module - Restaurant Bar List Three Venues", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/restaurant-bar-list-three-venues