extends ../templates/main

append config
  - var Page = {title:"Module - Restaurant Bar List"}
  - var Meta = {description:"Module - Restaurant Bar List", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/restaurant-bar-list