extends ../templates/main

append config
  - var Page = {title:"Module - Restaurant Bar Map Qufu"}
  - var Meta = {description:"Module - Restaurant Bar Map Qufu", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/restaurant-bar-map-qufu