extends ../templates/main

append config
  - var Page = {title:"Module - Review Profile"}
  - var Meta = {description:"Module - Review Profile", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/review-profile