extends ../templates/main

append config
  - var Page = {title:"Module - Section Image Header Member Benefits"}
  - var Meta = {description:"Module - Section Image Header Member Benefits", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/section-image-header-member-benefits