extends ../templates/main

append config
  - var Page = {title:"Module - Section Experience Header Ooce Two"}
  - var Meta = {description:"Module - Section Experience Header Ooce Two", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/section-experience-header-ooce-two