extends ../templates/main

append config
  - var Page = {title:"Module - Section Experience Header Ooce Three"}
  - var Meta = {description:"Module - Section Experience Header Ooce Three", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/section-experience-header-ooce-three