extends ../templates/main

append config
  - var Page = {title:"Module - Section Image Header Mood"}
  - var Meta = {description:"Module - Section Image Header Mood", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/section-image-header-mood