extends ../templates/main

append config
  - var Page = {title:"Module - Section Special Offer Header"}
  - var Meta = {description:"Module - Section Special Offer Header", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/section-special-offer-header