extends ../templates/main

append config
  - var Page = {title:"Module - Social Gallery"}
  - var Meta = {description:"Module - Social Gallery", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/social-gallery