extends ../templates/main

append config
  - var Page = {title:"Module - Social Media Experience"}
  - var Meta = {description:"Module - Social Media Experience", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/social-media-experience