extends ../templates/main

append config
  - var Page = {title:"Module - Special Offers One"}
  - var Meta = {description:"Module - Special Offers One", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/special-offers-one