extends ../templates/main

append config
  - var Page = {title:"Module - Thank You Join Golden Circle"}
  - var Meta = {description:"Module - Thank You Join Golden Circle", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/thank-you-join-golden-circle