extends ../templates/main

append config
  - var Page = {title:"Module - Thank You Activate My Account"}
  - var Meta = {description:"Module - Thank You Activate My Account", keywords:""}
  - var Basepath = {path:"../"}

block contentMain
  include ../modules/thank-you-activate-my-account