.container.menu-page
  .row
    .col-xs-12
      .menu-detail
        .hotel-logo-print
          img.lazy-load(src="content/img/content/print-logo-the-table-2.jpg")
          h1 AFYÄ-RESTAURANT
            span Traders Hotel, Qaryat Al Beri, Abu Dhabi
        a.cta-link.download-menu(href="restaurants-menuname.pdf", download="restaurants-menuname.pdf", target="_blank") Download Menu
        .menu-item.level-0
          .head
            h1 Chef’s Recommendation
          .date 
            p 30 March, 2016
          .description
            p [Menu Description]
              span.price-wrap
                span.price-1 [PRICE]
                span.price-2 [PRICE DESCRIPTION]
            p [Menu Description]
              span.price-wrap
                span.price-1 [PRICE]
                span.price-2 [PRICE DESCRIPTION]
            p [Menu Description]
              span.price-wrap
                span.price-1 [PRICE]
                span.price-2 [PRICE DESCRIPTION]
            p [Menu Description]
              span.price-wrap
                span.price-1 [PRICE]
                span.price-2 [PRICE DESCRIPTION]
            p [Menu Description without price description]
        
        .menu-item.level-1
          .head
            h2 [Level 1 Heading]
              span.icon-wrap
                span.menu-icon
                  img(src="content/img/icon/icon-menu-alcohol.png", alt="contains alcohol")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-gultenfree.png", alt="gulten free")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-halal.png", alt="halal")
              span.price-wrap
                span.price-1 PHP 870
                span.separator /
                span.price-2 per person
          .description
            p [Level 1 DESCRIPTION] Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

        .menu-item.level-2#barbecued-section
          .head
            h3 [Level 2 Heading]
              span.icon-wrap
                span.menu-icon
                  img(src="content/img/icon/icon-menu-kosher.png", alt="kosher")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-nuts.png", alt="contains nuts")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-vegan.png", alt="vegan")
              span.price-wrap
                span.price-1 [PRICE]
                span.separator /
                span.price-2 [PRICE DESCRIPTION]
          .description
            p [Level 2 DESCRIPTION] Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            p [Level 2 DESCRIPTION] 
              span.icon-wrap
                span.menu-icon
                  img(src="content/img/icon/icon-menu-kosher.png", alt="kosher")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-nuts.png", alt="contains nuts")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-vegan.png", alt="vegan")
              span.price-wrap
                span.price-1 [PRICE]
                span.separator /
                span.price-2 [PRICE DESCRIPTION]

        .menu-item.level-3
          .head
            h4 [Level 3 Heading]
              span.icon-wrap
                span.menu-icon
                  img(src="content/img/icon/icon-menu-vegetarian.png", alt="vegetarian")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-nuts.png", alt="contains nuts")
                span.menu-icon
                  img(src="content/img/icon/icon-menu-vegan.png", alt="vegan")
              span.price-wrap
                span.price-1 [PRICE]
                span.separator /
                span.price-2 [PRICE DESCRIPTION]
          .description
            p [Level 3 DESCRIPTION] Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            p [Level 3 DESCRIPTION] 
              span.price-wrap
                span.price-1 [PRICE]
                span.separator /
                span.price-2 [PRICE DESCRIPTION]
            p [Level 3 DESCRIPTION] 
              span.price-wrap
                span.price-1 [PRICE]
                span.separator /
                span.price-2 [PRICE DESCRIPTION]
            p [Level 3 DESCRIPTION] 
              span.price-wrap
                span.price-1 [PRICE]
                span.separator /
                span.price-2 [PRICE DESCRIPTION]

        .menu-footer
          div.text Legend:
          ul.legend-list
            li
              span.menu-icon
                img(src="content/img/icon/icon-menu-alcohol.png", alt="contains alcohol")
              span.text Contains Alcohol
            li
              span.menu-icon
                img(src="content/img/icon/icon-menu-gultenfree.png", alt="gulten free")
              span.text Gulten Free
            li
              span.menu-icon
                img(src="content/img/icon/icon-menu-halal.png", alt="halal")
              span.text Halal
            li
              span.menu-icon
                img(src="content/img/icon/icon-menu-kosher.png", alt="kosher")
              span.text Kosher
            li
              span.menu-icon
                img(src="content/img/icon/icon-menu-nuts.png", alt="contains nuts")
              span.text Contains Nuts
            li
              span.menu-icon
                img(src="content/img/icon/icon-menu-vegan.png", alt="vegan")
              span.text Vegan
            li
              span.menu-icon
                img(src="content/img/icon/icon-menu-vegetarian.png", alt="vegetarian")
              span.text Vegetarian
          p.note Should you have any specific dietary requirements, including any allergies that you would like to make us aware of, please inform a member of our team. For more information, please ask to speak with our Restaurant Manager.
          address Afyä-Restaurant, Traders Hotel, Qaryat Al Beri, Abu Dhabi, United Arab Emirates

