extends ../templates/main

append config
  - var Page = {title:"Shangri-La - Redeem Experience Unavailable"}
  - var Meta = {description:"Redeem Experience Unavailable", keywords:"Golden Circle, Redeem Experience Unavailable"}

block contentMain
  include ../modules/header
  include ../modules/thank-you-page
  include ../modules/footer 