/*
* Moudule : Member Benefits Benefit Type 
*/
 
.member-benefits-expanded-type{
  background-color: $section-background-1;
  padding: 0 0 30px;
  .benefit-table{
    .panel-container{
      display: none;
    }
    .section-heading h1{
      cursor: pointer;
    }
  }

  .benefit-table .section-heading h1.icon-more::before{
    @include breakpoint('sm'){
      padding-right: 10px;
    }
  }
  .benefit-table-row .col-xs-6{
    padding-left: 40px;
    @include breakpoint('sm'){
      padding-left: 25px;
    }
  }
  .expanded-benefit-info{
    border-top: 1px solid $secondary-color-4;
  }
  &>.container>.expanded-benefit-info{
    border-top: none;
  }
} 