// Module - Choose a different destination - Starts

.section-heading
  h1 special offers
  p in&nbsp;
    span(data-type="change-destination") hong kong
  p.no-result-message While there are no current offers in Yangon, more exciting things are on the way.
  a.cta-link(href="#", data-action="change-destination") Choose a different destination


// Module - Choose a different destination - End  