// Module - Choose a different destination - Starts

.section-heading
  h1(data-type="change-destination") hong kong
  p.no-result-message While there are no current experiences in &lt;city-name&gt;, more exciting things are on the way.  
  a.cta-link(href="#", data-action="change-destination") Choose a different destination


// Module - Choose a different destination - End  
