// Module - Choose a different destination - Starts

.section-heading
  h1 restaurants &amp; bars
  p in&nbsp;
    span(data-type="change-destination") hong kong
  a.cta-link(href="#", data-action="change-destination") Choose a different destination


// Module - Choose a different destination - End  