.slider-content-pod.no-gutter
  .owl-carousel.content-slider
    .item
      .row
        .col-xs-12.col-sm-7.col-lg-8.no-gutter
          .image-block.eqHeight
              img(src='content/img/content/restaurant-experience-1.jpg', alt='Dumpling Making Workshop')
        .col-xs-12.col-sm-5.col-lg-4.no-gutter
          .caption-block.eqHeight.mid-aligner
            .aligned-content
              .icon
                span.icon-experiences
              h4 Jan 14 - dec 14, 2016
              h3 Dumpling Making Workshop
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
              p(class="member-exclusive") Member exclusive
              a(class='button-secondary inline-block', href='#') Explore
              
    .item
      .row
        .col-xs-12.col-sm-7.col-lg-8.no-gutter
          .image-block.eqHeight
              img(src='content/img/content/restaurant-experience-1.jpg', alt='Dumpling Making Workshop')
        .col-xs-12.col-sm-5.col-lg-4.no-gutter
          .caption-block.eqHeight.mid-aligner
            .aligned-content
              .icon
                span.icon-experiences
              h4 26 Dec, 2016
              h3 Dumpling Making Workshop
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa
              a(class='button-secondary inline-block', href='#') Explore