.slider-content-pod
  .owl-carousel.content-slider
    .item
      .row
        .col-xs-12.col-sm-12.col-lg-8.no-gutter
          .image-block.eqHeight
              img(src='content/img/content/experience-img.jpg', alt='Tea and Mixology Workshop')
        .col-xs-12.col-sm-12.col-lg-4.no-gutter
          .caption-block.eqHeight.mid-aligner
            .aligned-content
              .icon
                span.icon-experiences
              h4 Jan 14 - dec 14, 2016
              h3 Tea Mixology Workshop
              p
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa...
              h5 Waterside Terrace
              p.member-exclusive Member exclusive
              a(class='button-secondary inline-block', href='#') Explore

    .item
      .row
        .col-xs-12.col-sm-12.col-lg-8.no-gutter
          .image-block.eqHeight
              img(src='content/img/content/experience-img.jpg', alt='Tea and Mixology Workshop')
        .col-xs-12.col-sm-12.col-lg-4.no-gutter
          .caption-block.eqHeight.mid-aligner
            .aligned-content
              .icon
                span.icon-experiences
              h4 26 Dec, 2016
              h3 Tea Mixology Workshop
              p
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa
              h5 Waterside Terrace
              h6 Kowloon Shangri-La, Hong Kong <br/>Hong Kong
              a(class='button-secondary inline-block', href='#') Explore
