.social-icons
  ul.list-unstyled.clearfix
    li
      a.icon-facebook(href='https://www.facebook.com/sharer.php?u=http://uat1.testthetable.com/thetable/experiences/&WT.mc_id=SLIM_2016_Global_Website_TheTable_ExtLink_TheTableGC_EN', title="Facebook")
    li
      a.icon-twitter(href='https://twitter.com/share?url=http://uat1.testthetable.com/thetable/experiences/&WT.mc_id=SLIM_2016_Global_Website_TheTable_ExtLink_TheTableGC_EN', title="Twitter")
    li
      a.icon-email(href='mailto:?Subject=http%3a%2f%2fuat1.testthetable.com%2fthetable%2fexperiences%2f', title="Email")
    li
      a.icon-google-plus(href='https://plus.google.com/share?url=http://uat1.testthetable.com/thetable/experiences/&WT.mc_id=SLIM_2016_Global_Website_TheTable_ExtLink_TheTableGC_EN', title="Google+")
    li
      a.icon-weibo(href='http://service.weibo.com/share/share.php?url=http://uat1.testthetable.com/thetable/experiences/&WT.mc_id=SLIM_2016_Global_Website_TheTable_ExtLink_TheTableGC_EN', title="Weibo")
    
    li.social-more
      a.icon-more(href='javascript:void(0);', title="")
    li.social-less
      a.icon-less(href='javascript:void(0);', title="")