.social-icons
  ul.list-unstyled.clearfix
    li
      a(href='javascript:void(0);', title="Facebook", target="_blank")
        img(src='content/img/icon/facebook.png', alt='Facebook')
    li
      a(href='javascript:void(0);', title="Twitter", target="_blank")
        img(src='content/img/icon/twitter.png', alt='Twitter')
    li
      a(href='javascript:void(0);', title="Youtube", target="_blank")
        img(src='content/img/icon/youtube.png', alt='Youtube')
    li
      a(href='javascript:void(0);', title="Instagram", target="_blank")
        img(src='content/img/icon/instagram.png', alt='Instagram')
    li
      a(href='javascript:void(0);', title="Google+", target="_blank")
        img(src='content/img/icon/google-plus.png', alt='Google+')
    li
      a(href='javascript:void(0);', title="Weibo", target="_blank")
        img(src='content/img/icon/weibo.png', alt='Weibo')
    li
      a(href='javascript:void(0);', title="YouKu", target="_blank")
        img(src='content/img/icon/youku.png', alt='YouKu')
    
    li.social-more
      a.icon-more(href='javascript:void(0);', title="")
    li.social-less
      a.icon-less(href='javascript:void(0);', title="")