// Module - Terms and Conditions Module with Bullet - Starts
div(id="terms")
  .terms-condition.accordion-container
    h4.accordion-header.icon-angle-down terms &amp; conditions
    .content-detail.panel-container
      ul
        li Vivamus convallis urna et felis vehicula vestibulum.
        li Vivamus convallis urna et felis vehicula vestibulum.
        li Vivamus convallis urna et felis vehicula vestibulum.
      ol
        li Vivamus convallis urna et felis vehicula vestibulum.
        li Vivamus convallis urna et felis vehicula vestibulum.
        li Vivamus convallis urna et felis vehicula vestibulum.
      a(href="#") Golden Cicle Terms and Conditions
// Module - Terms and Conditions Module with Bullet - End