// Module - Terms and Conditions Module - Starts
a(name="terms")
  .terms-condition.accordion-container
    h4.accordion-header.icon-angle-down terms &amp; conditions
    .content-detail.panel-container
      p Vivamus convallis urna et felis vehicula vestibulum. Nam ullamcorper condimentum dolor, eget blandit urna commodo eget. Etiam mattis imperdiet odio ac tristique. Mauris bibendum dui efficitur libero ornare blandit. Etiam ut iaculis justo, sit amet venenatis odio.

// Module - Terms and Conditions Module - End